@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: var(--el-text-color-regular);
  font-family: var(--el-font-family);
  font-size: var(--evc-font-size-root);
  font-weight: 400;
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

input,
button {
  font-family: 'Noto Sans KR', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* width */
::-webkit-scrollbar-thumb {
  background: rgba(144, 147, 153, 0.3);
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb:hover {
  background: rgba(144, 147, 153, 0.5);
}

/* Handle on hover */