.ev-component {
  padding: 20px;
  grid-column: auto / span 24;
  border-radius: var(--el-border-radius-round);
  background-color: #ffffff;
  box-shadow: var(--el-box-shadow-lighter);

  &-scrollbar {
    .el-scrollbar__view {
      height: 100%;
    }
  }
}

.ev-tmp {
  min-height: 1000px;
  background-color: lightblue;
}

.ev-toolbarlist,
.ev-toolbarform {
  .el-collapse-item {
    &__header {
      column-gap: 10px;

      .ev-toolbar {
        &__title {
          flex: 1;
          display: block;
          padding: 0;
          margin: 0;
          text-align: left;
          font-size: var(--el-collapse-header-font-size);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &__button-wrap {
          display: flex;
          column-gap: 10px;
          justify-content: flex-end;
          overflow: hidden;
        }
      }
    }

    &__wrap {}

    &.is-disabled {
      .el-collapse-item__header {
        color: var(--el-collapse-header-text-color);
        cursor: default;
      }

      .el-collapse-item__arrow {
        display: none;
      }
    }
  }
}