.ev-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--qs-container-border-radius);
  background-color: var(--qs-container-bg-color);
  box-shadow: var(--qs-container-shadow);
  z-index: 1;

  h1 {
    margin: initial;

    a {
      display: flex;
    }
  }
}

.ev-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--qs-tags-height);
  padding: initial;
}

.ev-header__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: var(--qs-header-height);
  overflow: hidden;
}

.ev-header-navigation {
  display: flex;
  column-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;

  & > li {
    display: flex;
    align-items: center;
  }
}

.ev-breadcrumb {
  .el-breadcrumb {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}

.ev-tags {
  height: var(--qs-header-height);
  padding: 0 var(--qs-base-column-gap);
  border-radius: var(--qs-container-border-radius);
  background-color: var(--qs-container-bg-color);
  box-shadow: var(--qs-container-shadow);

  &-group {
    display: flex;
    align-items: center;
    gap: 0 10px;
    height: var(--qs-header-height);
  }
}

.ev-menu {
  display: flex;
  flex-direction: column;
  row-gap: var(--qs-base-row-gap);
  height: var(--qs-menu-height);
  position: relative;

  .el-menu {
    border: initial;
    border-radius: var(--qs-container-border-radius);
    background-color: var(--qs-container-bg-color);
    box-shadow: var(--qs-container-shadow);
    background-color: var(--qs-container-bg-color);

    &-item-group__title {
      // display: none;
    }

    .el-icon {
      margin-right: initial;
    }

    a {
      flex: 1;
    }

    &.el-menu--horizontal {
      border-bottom: initial;
    }
  }

  &-toggle.el-button {
    // width: 30px;
    // height: 30px;
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(15px, -15px);
    z-index: 9;
  }

  &__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 140px;
    border-radius: var(--qs-container-border-radius);
    background-color: var(--qs-container-bg-color);
    box-shadow: var(--qs-container-shadow);
    overflow: hidden;
  }
}

.ev-main {
  width: calc(100vw - (var(--qs-logo-width) + var(--qs-base-column-gap)));
  height: var(--qs-main-height);

  &-scrollbar {
    &__bar.is-vertical {
      right: 0;
    }
  }
}

//
.theme-group {
  .el-button {
    &.element {
      background-color: #409eff;
    }

    &.green {
      background-color: #5796ad;
    }

    &.yellow {
      background-color: #ffb800;
    }

    &.green_2 {
      background-color: #328a23;
    }

    &.purple {
      background-color: #9065db;
    }
  }
}

.layout-group {
  display: flex;
  column-gap: 5px;

  .el-button {
    height: initial;
    padding: initial;

    span {
      display: inline-flex;
      width: var(--el-component-size);
      height: var(--el-component-size);
      background-color: var(--el-color-primary);

      .item {
        display: flex;
        border: 1px solid var(--el-color-white);
        background-color: var(--el-border-color-dark);

        &.item1 {
          flex: 1;
        }

        &.item2 {
          flex: 2;
        }
      }
    }

    &.horizontal,
    &.horizontal2 {
      span {
        .item {
          height: 100%;
        }
      }
    }

    &.vertical,
    &.vertical2 {
      span {
        flex-direction: column;

        .item {
          width: 100%;
        }
      }
    }

    &.horizontal,
    &.vertical {
      span {
        padding: initial;
        gap: initial;
      }
    }

    &.horizontal2,
    &.vertical2 {
      span {
        padding: 2px;
        gap: 2px;
      }
    }
  }
}

.el-popper.is-pure.is-light {
  // display: block !important;

  .el-menu--vertical {
    // &.el-menu--popup-container {
    //   border: 1px solid red;
    // }
  }
}