// reset
.el-form {
  --el-form-inline-content-width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--evc-control-padding);
}

.el-form-item {
  margin-bottom: var(--evc-layout-gap);

  &__label {
    display: block;
    width: 120px;
    height: var(--el-component-size);
    line-height: var(--el-component-size);
    padding: 0 var(--evc-control-padding);
    justify-content: flex-start;
    font-size: var(--el-font-size-base);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__content {
    width: 100%;
    min-width: 100px;
    line-height: initial;
    padding: 0 0 0 var(--evc-control-padding);

    [class*='ev-'] {
      width: 100%;
    }
  }
}

.el-select,
.el-input-number {
  width: 100%;
}

.el-input__inner {
  font-size: var(--el-font-size-base);
}

.el-button,
.el-input-group__append .el-button,
.el-input-group__append .el-select,
.el-input-group__prepend .el-button,
.el-input-group__prepend .el-select {
  min-width: var(--el-component-size);
  height: var(--el-component-size);
  padding: 0 var(--evc-control-padding);
  margin: 0;
}

.el-button:has(.el-icon) {
  padding: initial;
  font-size: initial;
}

.el-button.is-circle {
  padding: initial;
}

.el-input-group__append,
.el-input-group__prepend {
  min-width: var(--el-component-size);
  min-height: initial;
  padding: initial;
}

.el-radio {
  --el-radio-font-weight: 400;
  height: var(--el-component-size);

  &-button__inner {
    display: inline-flex;
    align-items: center;
    min-width: var(--el-component-size);
    height: var(--el-component-size);
    padding: 0 var(--evc-control-padding);
  }
}

.el-checkbox {
  --el-checkbox-font-size: var(--el-font-size-base);
  --el-checkbox-font-weight: 400;
  height: var(--el-component-size);

  &-button__inner {
    display: inline-flex;
    align-items: center;
    min-width: var(--el-component-size);
    height: var(--el-component-size);
    padding: 0 var(--evc-control-padding);
  }
}

.el-switch {
  height: var(--el-component-size);
  line-height: initial;

  &__label {
    color: var(--el-text-color-placeholder);
    font-size: var(--el-font-size-base);
  }
}

.el-tag {
  font-size: var(--el-font-size-base);
}

.el-date-editor {
  --el-date-editor-width: 100%;
}

.el-color-picker__trigger {
  height: var(--el-component-size);
  width: var(--el-component-size);
}

.el-divider--horizontal {
  margin: initial;
}

.el-carousel__container {
  background-color: var(--el-bg-color-page);
}