:root {
  --qs-container-bg-color: transparent;
  --qs-logo-width: 250px;
  --qs-menu-height: 60px;
  --qs-header-height: 60px;
  --qs-tags-height: 60px;
  --qs-layout-gap: 20px;
}

.ev-layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--qs-logo-width) 1fr;
  grid-template-rows: var(--qs-header-height) var(--qs-tags-height) 1fr;
  column-gap: var(--qs-layout-gap);
  row-gap: var(--qs-layout-gap);
  padding: var(--qs-layout-gap);
  justify-content: stretch;
  align-content: stretch;
  background-color: var(--el-color-primary-light-9);
  background-image: url(../img/pattern.png),
    radial-gradient(50% 50% at center top,
      var(--el-color-primary-light-5) 0%,
      var(--el-color-primary-light-9) 100%);
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 20rem;
  transition: var(--el-transition-duration-fast);
  grid-auto-flow: dense;

  &.main-expand {
    --qs-logo-width: 0px;
    --qs-menu-height: 0px;
    --qs-header-height: 0px;
    --qs-tags-height: 0px;
    --qs-layout-gap: 0px;

    .ev-logo,
    .ev-menu,
    .ev-header {
      display: none;
    }

    .ev-main {}
  }
}

.ev-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--qs-header-height);
  background-color: var(--qs-container-bg-color);
  z-index: 1;

  h1 {
    margin: initial;
  }
}

.ev-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--qs-tags-height);
  padding: initial;
  background-color: var(--qs-container-bg-color);
}

.ev-header__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: var(--qs-header-height);
  overflow: hidden;
}

.ev-header-navigation {
  display: flex;
  column-gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;

  &>li {
    display: flex;
    align-items: center;
  }
}

.ev-menu {
  grid-row: span 2;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-height: calc(100vh - (var(--qs-header-height) + var(--qs-layout-gap) * 3));

  .ev-menu-wrap {
    flex: 1;
    height: calc(100% - 140px);
    border-radius: var(--el-border-radius-round);
    background-color: #ffffff;
    box-shadow: var(--el-box-shadow-lighter);

    &-scrollbar {
      .el-scrollbar__view {
        height: 100%;
      }
    }

    .el-menu-item-group__title {
      display: none;
    }
  }

  .ev-menu__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 140px;
    border-radius: var(--el-border-radius-round);
    background-color: #ffffff;
    box-shadow: var(--el-box-shadow-lighter);
    overflow: hidden;
  }

  .el-menu {
    border: initial;
    background-color: var(--qs-container-bg-color);

    .el-icon {
      margin-right: initial;
    }

    a {
      flex: 1;
    }

    &.el-menu--horizontal {
      border-bottom: initial;
    }
  }
}

.ev-breadcrumb {
  grid-column: span 2;
  background-color: var(--qs-container-bg-color);

  .el-breadcrumb {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}

.ev-tags {
  height: var(--qs-header-height);
  border-radius: var(--el-border-radius-round);
  background-color: #ffffff;
  box-shadow: var(--el-box-shadow-lighter);

  &-scrollbar {
    .el-scrollbar__view {
      height: 100%;
    }
  }

  &-wrap {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    gap: 10px;
  }
}

.ev-main {
  height: calc(100vh - (var(--qs-header-height) + var(--qs-tags-height) + var(--qs-layout-gap) * 4));

  &-scrollbar {
    .el-scrollbar__view {
      height: 100%;
    }
  }
}

// 
.el-row.type-grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  column-gap: 15px;
  padding: 10px;

  [class*='el-col-'] {
    max-width: initial;
    margin-bottom: 20px;

    &:has(.ev-blank) {
      margin-bottom: initial;
    }
  }

  .el-col-1 {
    grid-column: span 1;
  }

  .el-col-2 {
    grid-column: span 2;
  }

  .el-col-3 {
    grid-column: span 3;
  }

  .el-col-4 {
    grid-column: span 4;
  }

  .el-col-5 {
    grid-column: span 5;
  }

  .el-col-6 {
    grid-column: span 6;
  }

  .el-col-7 {
    grid-column: span 7;
  }

  .el-col-8 {
    grid-column: span 8;
  }

  .el-col-9 {
    grid-column: span 9;
  }

  .el-col-10 {
    grid-column: span 10;
  }

  .el-col-11 {
    grid-column: span 11;
  }

  .el-col-12 {
    grid-column: span 12;
  }

  .el-col-13 {
    grid-column: span 13;
  }

  .el-col-14 {
    grid-column: span 14;
  }

  .el-col-15 {
    grid-column: span 15;
  }

  .el-col-16 {
    grid-column: span 16;
  }

  .el-col-17 {
    grid-column: span 17;
  }

  .el-col-18 {
    grid-column: span 18;
  }

  .el-col-19 {
    grid-column: span 19;
  }

  .el-col-20 {
    grid-column: span 20;
  }

  .el-col-21 {
    grid-column: span 21;
  }

  .el-col-22 {
    grid-column: span 22;
  }

  .el-col-23 {
    grid-column: span 23;
  }

  .el-col-24 {
    grid-column: span 24;
  }
}