:root {
  --qs-container-bg-color: transparent;
  --qs-logo-width: 250px;
  --qs-menu-height: 60px;
  --qs-header-height: 60px;
  --qs-tags-height: 60px;
  --qs-layout-gap: 20px;
}

.ev-layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--qs-logo-width) 1fr;
  grid-template-rows: var(--qs-header-height) var(--qs-tags-height) 1fr;
  column-gap: var(--qs-layout-gap);
  row-gap: var(--qs-layout-gap);
  padding: var(--qs-layout-gap);
  justify-content: stretch;
  align-content: stretch;
  background-color: var(--el-color-primary-light-9);
  background-image: url(../img/pattern.png),
    radial-gradient(
      50% 50% at center top,
      var(--el-color-primary-light-5) 0%,
      var(--el-color-primary-light-9) 100%
    );
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 20rem;
  transition: var(--el-transition-duration-fast);

  & > {
    .ev-menu,
    .ev-tags {
      background-color: #ffffff;
      border-radius: var(--el-border-radius-base);
      box-shadow: var(--el-box-shadow-lighter);
      //   border: 1px solid var(--el-border-color);
    }
  }

  &.main-expand {
    --qs-logo-width: 0px;
    --qs-menu-height: 0px;
    --qs-header-height: 0px;
    --qs-tags-height: 0px;
    --qs-layout-gap: 0px;

    .ev-logo,
    .ev-menu,
    .ev-header {
      display: none;
    }

    .ev-main {
    }
  }
}

.ev-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--qs-header-height);
  background-color: var(--qs-container-bg-color);
  z-index: 1;

  h1 {
    margin: initial;
  }
}

.ev-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: initial;
  background-color: var(--qs-container-bg-color);
}

.ev-header__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: var(--qs-header-height);
  overflow: hidden;
}

.ev-header-navigation {
  display: flex;
  column-gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;

  & > li {
    display: flex;
    align-items: center;
  }
}

.ev-menu {
  grid-row: span 2;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  .ev-menu-wrap {
    flex: 1;
    height: calc(100% - 140px);
  }

  .ev-menu__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 140px;
    overflow: hidden;
  }

  .el-menu {
    border: initial;
    background-color: var(--qs-container-bg-color);

    .el-icon {
      margin-right: initial;
    }

    a {
      flex: 1;
    }

    &.el-menu--horizontal {
      border-bottom: initial;
    }
  }
}

.ev-breadcrumb {
  grid-column: span 2;
  background-color: var(--qs-container-bg-color);

  .el-breadcrumb {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}

.ev-tags {
  &-scrollbar {
    .el-scrollbar__view {
      height: 100%;
    }
  }

  &-wrap {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    gap: 10px;
  }
}

.ev-main {
  height: calc(
    100vh -
      (
        (var(--qs-header-height) + var(--qs-layout-gap)) +
          (var(--qs-tags-height) + var(--qs-layout-gap))
      ) + var(--qs-layout-gap)
  );

  &-scrollbar {
    .el-scrollbar__view {
      height: 100%;
    }
  }
}
