.ev-layout {
  --qs-container-bg-color: transparent;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px auto auto 1fr;
  transition: grid-template-columns 0.3s;
  background-color: var(--el-bg-color-page);
  transition: var(--el-transition-duration-fast);

  & > div {
    // border: 1px solid var(--el-border-color);
  }

  &.horizontal {
    --qs-container-bg-color: #ffffff;
    grid-template-rows: 60px 60px 1fr;

    .ev-menu {
      grid-column: initial;
      grid-row: span 2;
    }

    .ev-tags {
      grid-column: initial;
    }

    .ev-main {
      grid-column: initial;
    }
  }

  &.mode-expend {
    grid-template-columns: 0 1fr;
    grid-template-rows: 0 0 1fr;

    .ev-logo,
    .ev-header,
    .ev-menu,
    .ev-tags {
      width: 0;
      height: 0;
      overflow: hidden;
      transition: var(--el-transition-duration-fast);
    }

    // &.horizontal {
    //   grid-template-columns: 1fr;
    //   grid-template-rows: 1fr;
    // }
  }
}

.ev-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--qs-container-bg-color);

  h1 {
    margin: initial;
  }
}

.ev-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--qs-container-bg-color);
}

.ev-header-navigation {
  display: flex;
  column-gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;

  & > li {
    display: flex;
    align-items: center;
  }
}

.ev-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
  background-color: var(--qs-container-bg-color);
  overflow-y: hidden;
  overflow-x: auto;

  .el-menu {
    flex: 1;
    justify-content: center;

    .el-icon {
      margin-right: initial;
    }

    a {
      flex: 1;
    }

    &.el-menu--horizontal {
      border-bottom: initial;
    }
  }

  .ev-menu__banner {
    display: none;
  }
}

.ev-breadcrumb {
  grid-column: span 2;
  padding: 5px 20px;
  background-color: var(--qs-container-bg-color);

  .el-breadcrumb {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}

.ev-tags-scroll {
  grid-column: span 2;
  padding: 10px 0;
  background-color: var(--qs-container-bg-color);
}
.ev-tags {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: var(--qs-container-bg-color);

  .ev-tags__item {
    margin-right: 10px;
  }
}

.ev-main {
  grid-column: span 2;

  padding: 20px;
  overflow: auto;
}

.ev-component {
  padding: 10px;
  grid-column: auto / span 24;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: auto;
}

.ev-tmp {
  min-height: 1000px;
  background-color: lightblue;
}
