.sampleGuide {
  h2 {
    text-align: center;
  }

  .sampleDesc {
    padding-inline-start: 20px;

    li {
      list-style-type: disc;
      line-height: 2;
    }

    &+.sampleDesc {
      margin-top: 20px;
    }
  }
}