:root {
  /* Default theme is 'core' */
  --color-primary-10: #f5fafc;
  --color-primary-20: #f4f7f8;
  --color-primary-30: #f3f5f5;
  --color-primary-40: #e7f3f7;
  --color-primary-50: #dae6eb;
  --color-primary-60: #9fcad9;
  --color-primary-70: #5796ad;
  --color-primary-80: #3386a2;
  --color-primary-90: #055a78;
  --color-primary-100: #2f657d;
  --color-icon-10: #f3b45b;
  --color-icon-20: #0e8bff;
  --color-icon-30: #fe8057;
  --color-icon-40: #2aaeb1;
  --color-icon-50: #8c8c8c;
  --color-icon-60: #ffce00;
  --color-gray-10: #ffffff;
  --color-gray-20: #f6f6f6;
  --color-gray-30: #f1f1f1;
  --color-gray-40: #e8e8e8;
  --color-gray-50: #dddddd;
  --color-gray-60: #c1c4cc;
  --color-gray-70: #909399;
  --color-gray-80: #606266;
  --color-gray-90: #222222;
  --color-gray-100: #000000;
  --color-gray-110: #f0f3f5;
  --color-semantic-success: #2fc898;
  --color-semantic-success10: #6cddba;
  --color-semantic-success20: #baf1e1;
  --color-semantic-danger: #f56c6c;
  --color-semantic-danger10: #feb5b6;
  --color-semantic-danger20: #ffe4e4;
  --color-semantic-warning: #e6a23c;
  --color-semantic-warning10: #f2c98b;
  --color-semantic-warning20: #fff3dd;
  --color-semantic-required: #f75456;
  --color-semantic-currentday: #e3165b;
  --color-semantic-info: #909399;
  --color-semantic-info10: #bcbec5;
  --color-semantic-info20: #f1f1fd;
  --color-header-icon-default: #3386a2;
  --color-header-background-default: #ffffff;
  --color-header-dropdownmenu-item-background-hover: #dae6eb;
  --color-header-dropdownmenu-item-font-default: #5796ad;
  --color-header-dropdownmenu-item-font-hover: #055a78;
  --color-dropdown-background-default: #ffffff;
  --color-dropdown-boxshadow: #0000001f;
  --color-dropdownmenu-item-background-hover: #f1f1f1;
  --color-dropdownmenu-item-font-default: #606266;
  --color-dropdownmenu-item-font-hover: #222222;
  --color-dropdownmenu-item-font-disabled: #909399;
  --color-avatar-name-font: #606266;
  --color-breadcrumb-icon-default: #606266;
  --color-breadcrumb-font-active: #5796ad;
  --color-breadcrumb-font-default: #222222;
  --color-breadcrumb-font-hover: #3386a2;
  --color-tags-item-background-default: #ffffff;
  --color-tags-item-background-active: #9fcad9;
  --color-tags-item-font-active: #2f657d;
  --color-tags-item-font-default: #c1c4cc;
  --color-tags-item-border-active: #9fcad9;
  --color-tags-item-border-default: #ffffff;
  --color-tags-item-close-border-default: #c1c4cc;
  --color-tags-item-close-border-selected: #ffffff;
  --color-tags-item-close-background-default: #ffffff;
  --color-tags-item-close-background-selected: #9fcad9;
  --color-tags-contextmenu-border-color: #dddddd;
  --color-tags-contextmenu-background-color-default: #ffffff;
  --color-tags-contextmenu-background-color-hover: #e7f3f7;
  --color-button-default-background-default: #ffffff;
  --color-button-default-background-disabled: #ffffff;
  --color-button-default-background-hover: #e8e8e8;
  --color-button-default-font-default: #000000;
  --color-button-default-font-disabled: #909399;
  --color-button-default-font-hover: #000000;
  --color-button-default-border-default: transparent;
  --color-button-default-border-disabled: transparent;
  --color-button-default-border-hover: transparent;
  --color-button-lookup-default: #055a78;
  --color-confirm-border-default: #e7f3f7;
  --color-confirm-header-border: #055a78;
  --color-confirm-title: #055a78;
  --color-confirm-button-confirm-background-default: #e7f3f7;
  --color-confirm-button-confirm-border-default: #dae6eb;
  --color-confirm-button-confirm-font-default: #2f657d;
  --color-confirm-button-cancel-background-default: #ffffff;
  --color-confirm-button-cancel-border-default: #dddddd;
  --color-confirm-button-cancel-font-default: #909399;
  --color-confirm-boxshadow: #0000003d;
  --color-form-button-font-default: #055a78;
  --color-form-button-font-disabled: #909399;
  --color-form-button-font-hover: #055a78;
  --color-form-button-border-default: #e8e8e8;
  --color-form-button-border-disabled: #e8e8e8;
  --color-form-button-border-hover: #e8e8e8;
  --color-form-button-background-default: #ffffff;
  --color-form-button-background-disabled: #f1f1f1;
  --color-form-button-background-hover: #e8e8e8;
  --color-input-background-default: #ffffff;
  --color-input-background-hover: #ffffff;
  --color-input-background-disabled: #f1f1f1;
  --color-input-border-default: #e8e8e8;
  --color-input-border-hover: #9fcad9;
  --color-input-border-disabled: #e8e8e8;
  --color-input-font-placeholder: #c1c4cc;
  --color-input-font-disabled: #606266;
  --color-input-font-hover: #000000;
  --color-input-font-default: #000000;
  --color-radio-border-checked: #055a78;
  --color-radio-border-default: #c1c4cc;
  --color-radio-background-checked: #ffffff;
  --color-radio-background-default: #ffffff;
  --color-radio-pseudo-background-checked: #055a78;
  --color-radio-pseudo-background-default: #ffffff;
  --color-checkbox-border-checked: #055a78;
  --color-checkbox-border-default: #c1c4cc;
  --color-checkbox-border-disabled: #c1c4cc;
  --color-checkbox-background-checked: #ffffff;
  --color-checkbox-background-default: #ffffff;
  --color-checkbox-background-disabled: #f1f1f1;
  --color-checkbox-pseudo-border-checked: #055a78;
  --color-checkbox-pseudo-border-default: #ffffff;
  --color-checkbox-pseudo-border-desabled: #c1c4cc;
  --color-tab-border-default: #9fcad9;
  --color-tab-item-background-selected: #9fcad9;
  --color-tab-item-background-default: #ffffff;
  --color-tab-item-background-hover: #ffffff;
  --color-tab-item-border-selected: #9fcad9;
  --color-tab-item-border-default: #9fcad9;
  --color-tab-item-border-hover: #9fcad9;
  --color-tab-item-font-selected: #055a78;
  --color-tab-item-font-default: #606266;
  --color-tab-item-font-hover: #3386a2;
  --color-comment-border-default: #dddddd;
  --color-comment-more-button-default: #000000;
  --color-comment-more-button-background-default: #ffffff;
  --color-comment-more-button-background-hover: #f6f6f6;
  --color-popup-background-default: #ffffff;
  --color-popup-header-background: #f0f3f5;
  --color-popup-close-button-background: transparent;
  --color-popup-boxshadow: #0000004a;
  --color-timeline-item-tail: #e8e8e8;
  --color-timeline-item-backgrond-default: #ffffff;
  --color-timeline-item-title-color-default: #909399;
  --color-timeline-item-content-color-default: #606266;
  --color-step-success: #5796ad;
  --color-step-process: #222222;
  --color-step-wait: #909399;
  --color-theme-primary: #5796ad;
  --color-select-dropdown-background-default: #ffffff;
  --color-select-dropdown-background-hover: #f5fafc;
  --color-select-dropdown-background-selected: #e7f3f7;
  --color-select-dropdown-font-default: #909399;
  --color-select-dropdown-font-selected: #055a78;
  --color-select-dropdown-font-hover: #606266;
  --color-select-dropdown-font-disabled: #909399;
  --color-select-dropdown-boxshadow: #0000001f;
  --color-anchor-font-default: #007dbc;
  --color-anchor-font-hover: #4bafc8b3;
  --color-anchor-font-visited: #005b86;
  --color-list-cell-border-default: #e8e8e8;
  --color-list-head-leaf-border-bottom: #c1c4cc;
  --color-list-head-cell-searched-font-default: #5796ad;
  --color-list-head-cell-sort-font-default: #c1c4cc;
  --color-list-head-cell-sort-font-selected: #5796ad;
  --color-list-head-cell-background-default: #f5fafc;
  --color-list-head-cell-font-default: #000000;
  --color-list-body-cell-background-default: #ffffff;
  --color-list-body-cell-background-hover: #f6f6f6;
  --color-list-body-cell-background-selected: #e7f3f7;
  --color-list-body-cell-empty-font-default: #f6f6f6;
  --color-list-body-cell-required-font-default: #f75456;
  --color-list-body-cell-total-font-default: #5796ad;
  --color-list-body-cell-progress-border-default: #c1c4cc;
  --color-list-body-cell-progress-background-default: #e7f3f7;
  --color-list-body-cell-rating-default: #dae6eb;
  --color-list-body-cell-rating-active: #ffce00;
  --color-list-body-cell-font-default: #000000;
  --color-list-pager-selected: #5796ad;
  --color-list-pager-default: #c1c4cc;
  --color-list-loading-stroke: #5796ad;
  --color-list-footer-cell-background-default: #f6f6f6;
  --color-alert-info-border-default: #bcbec5;
  --color-alert-info-font-default: #909399;
  --color-alert-info-background-default: #f1f1fd;
  --color-alert-success-border-default: #6cddba;
  --color-alert-success-font-default: #2fc898;
  --color-alert-success-background-default: #baf1e1;
  --color-alert-warning-border-default: #f2c98b;
  --color-alert-warning-font-default: #e6a23c;
  --color-alert-warning-background-default: #fff3dd;
  --color-alert-danger-border-default: #feb5b6;
  --color-alert-danger-font-default: #f56c6c;
  --color-alert-danger-background-default: #ffe4e4;
  --color-alert-boxshadow: #00000059;
  --color-datepicker-highlight: #2aaeb1;
  --color-datepicker-boxshadow: #0000001a;
  --color-font-default: #000000;
  --color-schedule-current-date: #e3165b;
  --color-schedule-background-default: #ffffff;
  --color-sidebar-background-default: #f4f7f8;
  --color-sidebar-menu-border-default: #dae6eb;
  --color-sidebar-collapse-title-font-default: #ffffff;
  --color-sidebar-collapse-title-background-default: #3386a2;
  --color-sidebar-collapse-menu-background-hover: #f4f7f8;
  --color-sidebar-collapse-menu-background-default: #ffffff;
  --color-sidebar-depth1-color-default: #3386a2;
  --color-sidebar-depth1-color-select: #2f657d;
  --color-sidebar-depth1-edge: transparent;
  --color-sidebar-depth1-background-default: transparent;
  --color-sidebar-depth2-color-default: #3386a2;
  --color-sidebar-depth2-color-select: #2f657d;
  --color-sidebar-depth2-edge: #9fcad9;
  --color-sidebar-depth2-background-default: transparent;
  --color-sidebar-depth3-color-default: #3386a2;
  --color-sidebar-depth3-color-select: #2f657d;
  --color-sidebar-depth3-edge: #5796ad;
  --color-sidebar-depth3-background-default: transparent;
  --color-sidebar-depth4-color-default: #3386a2;
  --color-sidebar-depth4-color-select: #2f657d;
  --color-sidebar-depth4-edge: #3386a2;
  --color-sidebar-depth4-background-default: transparent;
  --color-sidebar-depth5-color-default: #3386a2;
  --color-sidebar-depth5-color-select: #2f657d;
  --color-sidebar-depth5-edge: #055a78;
  --color-sidebar-depth5-background-default: transparent;
  --color-sidebar-item-boxshadow: #0000001f;
  --color-sidebar-boxshadow: #0000001f;
  --color-scrollbar-default: #909399;
  // --color-scrollbar-hover: #90939980; /* 9093994d */
  --color-kanban-background: #f6f6f6;
  --color-kanban-header-background: #5796ad;
  --color-kanban-header-title: #ffffff;
  --color-kanban-header-count: #f1f1f1;
  --color-kanban-card-background: #ffffff;
  --color-kanban-card-title: #000000;
  --color-kanban-card-content: #606266;
  --color-kanban-card-tags-background: #dae6eb;
  --color-kanban-card-tags-default: #3386a2;
  --color-kanban-card-boxshadow: #00000029;
  --color-right-panel-background: #f6f6f6;
  --color-right-panel-boxshadow: #0000001f;
  --color-bottom-panel-background: #f6f6f6;
  --color-bottom-panel-border: #c1c4cc;
  --color-bottom-panel-boxshadow: #0000001f;
  --color-label-edge-background: #909399;
  --color-fileupload-desc-font: #909399;
  --color-fileupload-border: #e8e8e8;
  --color-fileupload-info-font: #606266;
  --color-fileupload-info-file-open-font: #5796ad;
  --color-fileupload-info-background: #ffffff;
  --color-fileupload-info-progress-background: #c1c4cc;
  --color-image-view-background: #f4f7f8;
  --color-box-label: #c1c4cc;
  --color-box-icon-background: #f4f7f8;
  --color-tree-button-default: #055a78;
  --color-component-background: #ffffff;
  --color-component-title-border: #9fcad9;
  --color-component-title-arrow-color: #606266;
  --color-app-wrapper-background: #f3f5f5;
  --color-inlineedittoolbar-icon-background: #ffffff;
  --color-inlineedittoolbar-icon-new: #f3b45b;
  --color-inlineedittoolbar-icon-edit: #0e8bff;
  --color-inlineedittoolbar-icon-delete: #fe8057;
  --color-inlineedittoolbar-icon-save: #2aaeb1;
  --color-inlineedittoolbar-icon-cancel: #8c8c8c;
  --color-toolbar-button-background-hover: #e8e8e8;
  --color-toolbar-button-background-disabled: #ffffff;
  --color-toolbar-button-background-default: #ffffff;
  --color-toolbar-button-font-default: #000000;
  --color-toolbar-button-font-disabled: #909399;
  --color-toolbar-button-font-hover: #000000;
  --color-toolbar-button-border-default: transparent;
  --color-toolbar-button-border-disabled: transparent;
  --color-toolbar-button-border-hover: transparent;
  --color-overlay-loading-font: #ffffff;
  --color-overlay-loading-boxshadow: #0000004d;
  --color-vfm-background: #00000033;
  --color-sitemap-menu-search-border-focus: #c1c4cc;
  --color-sitemap-menu-search-font: #f75456;
  --color-sitemap-menu-match-font: #ffffff;
  --color-sitemap-menu-font: #222222;
  --color-secondary-10: #007dbc;
  --color-secondary-20: #4bafc8b3;
  --color-secondary-30: #005b86;
  --color-notification-icon-count-color: #ffffff;
  --color-notification-icon-count-background-color: #e3165b;
  --color-notification-item-urgent-background-color: #ffe4e4;
  --color-notification-item-urgent-border-color: #feb5b6;
  --color-notification-item-icon-check-receipt-color: #3386a2;
  --color-notification-popup-item-urgent-background-color: #ffe4e4;
  --fontfamily-default: 'Noto Sans KR', sans-serif, Arial;
  --fontweight-100: 100;
  --fontweight-300: 300;
  --fontweight-400: 400;
  --fontweight-500: 500;
  --fontweight-700: 700;
  --fontweight-900: 900;
  --fontweight-default: 400;
  --fontweight-tab-item: 400;
  --fontweight-popup-title: 700;
  --fontweight-confirm-button: 700;
  --fontweight-box-label: 500;
  --fontweight-box-data: 700;
  --fontweight-button-default: 500;
  --fontweight-form-button: 500;
  --fontweight-list-cell: 300;
  --fontweight-list-header: 500;
  --fontweight-list-pager-selected: 500;
  --fontweight-input: 400;
  --fontweight-breadcrumb-default: 400;
  --fontweight-breadcrumb-active: 400;
  --fontweight-avatar-name: 500;
  --fontweight-sidebar-default: 400;
  --fontweight-sidebar-hover: 500;
  --fontweight-sidebar-selected: 500;
  --fontweight-tags-item: 400;
  --fontweight-component-title-arrow: 700;
  --fontweight-kanban-header-title: 500;
  --fontweight-kanban-card-title: 500;
  --fontweight-fileupload-desc: 400;
  --fontweight-comment-more-button: 500;
  --borderradius-default: 4px;
  --fontsize-default: 14px;
  --fontsize-xs: 0.75;
  --fontsize-2xs: 0.563;
  --fontsize-s: 0.875;
  --fontsize-m: 1;
  --fontsize-l: 1.15;
  --fontsize-xl: 1.25;
  --fontsize-2xl: 1.5;
  --fontsize-3xl: 3.5;
  --fontsize-h1: 78.75px;
  --fontsize-h2: 52.5px;
  --fontsize-h3: 42px;
  --fontsize-h4: 29.75px;
  --fontsize-h5: 21px;
  --fontsize-h6: 12.25px;
  --fontsize-sidebar-default: 12.25px;
  --fontsize-sidebar-selected: 16.099999999999998px;
  --fontsize-sidebar-collapse-icon: 16.099999999999998px;
  --fontsize-sidebar-hover: 12.25px;
  --fontsize-base: 12.25px;
  --fontsize-component-title-arrow: 17.5px;
  --fontsize-comment-more-button: 14px;
  --fontsize-kanban-header-title: 16.099999999999998px;
  --fontsize-kanban-header-count: 12.25px;
  --fontsize-kanban-card-title: 16.099999999999998px;
  --fontsize-kanban-card-content: 14px;
  --fontsize-kanban-card-tags: 12.25px;
  --fontsize-list-cell-default: 12.25px;
  --fontsize-list-cell-direct-edit: 17.5px;
  --fontsize-list-cell-rating: 17.5px;
  --fontsize-tab-item: 14px;
  --fontsize-tree-node: 14px;
  --fontsize-tree-button: 16.099999999999998px;
  --fontsize-box-label: 16.099999999999998px;
  --fontsize-box-data-suffix: 21px;
  --fontsize-box-data-default: 49px;
  --fontsize-fileupload-detail-info: 12.25px;
  --fontsize-fileupload-desc: 10.5px;
  --fontsize-input: 12.25px;
  --fontsize-label: 12.25px;
  --fontsize-inlineedittoolbar-icon: 14px;
  --fontsize-breadcrumb-default: 16.099999999999998px;
  --fontsize-breadcrumb-active: 16.099999999999998px;
  --fontsize-dropdownmenu-item: 12.25px;
  --fontsize-header-icon: 21px;
  --fontsize-header-dropdownmenu-item: 14px;
  --fontsize-avatar-name: 16.099999999999998px;
  --fontsize-tags-item: 14px;
  --fontsize-popup-title: 16.099999999999998px;
  --fontsize-popup-close-button: 21px;
  --fontsize-confirm-content: 16.099999999999998px;
  --fontsize-confirm-button: 16.099999999999998px;
  --fontsize-button-default: 12.25px;
  --fontsize-form-button: 12.25px;
  --fontsize-step-default: 16.099999999999998px;
  --spacing-gap-s: 5px;
  --spacing-gap-m: 7.5px;
  --spacing-gap-default: 7.5px;
  --spacing-gap-l: 10px;
  --spacing-gap-xl: 15px;
  --spacing-gap-2xl: 20px;
  --spacing-gap-3xl: 30px;
  --spacing-gap-xs: 4.5px;
  --spacing-kanban-padding-top: 10px;
  --spacing-kanban-card-tags-x: 6px;
  --spacing-kanban-card-tags-y: 2px;
  --spacing-kanban-card-tags-margin: 15px;
  --spacing-kanban-card-padding: 10px;
  --spacing-rightpanel-x: 20px;
  --spacing-bottompanel-x: 20px;
  --spacing-sidebar-sidemenu-level: 20px;
  --spacing-list-cell-x: 7.5px;
  --spacing-list-cell-y: 6.5px;
  --spacing-tab-padding-y: 10px;
  --spacing-tab-item-padding-x: 20px;
  --spacing-tab-item-margin-left: 15px;
  --spacing-layout-padding-x: 20px;
  --spacing-component-padding-top: 5px;
  --spacing-component-margin-bottom: 15px;
  --spacing-input-padding-x: 7.5px;
  --spacing-input-padding-y: 5px;
  --spacing-textarea-x: 15px;
  --spacing-textarea-y: 5px;
  --spacing-tree-padding-top: 10px;
  --spacing-header-item-margin-x: 20px;
  --spacing-tags-padding-y: 10px;
  --spacing-tags-item-margin-x: 15px;
  --spacing-tags-item-y: 4px;
  --spacing-tags-item-x: 10px;
  --spacing-comment-item-margin-bottom: 10px;
  --spacing-comment-more-button-padding-y: 10px;
  --spacing-comment-padding: 15px;
  --spacing-timeline-padding-top: 10px;
  --spacing-timeline-item-title-margin-bottom: 15px;
  --spacing-schedule-padding-top: 10px;
  --spacing-form-padding-top: 10px;
  --spacing-form-item-margin-bottom: 20px;
  --spacing-form-item-label-margin-bottom: 2px;
  --opacity-inlineedittoolbar-icon: 20%;
  --opacity-overlay-loading: 30%;
  --sizing-scrollbar: 6px;

  // 
  // --qs-base-column-gap: 10px;
  --qs-base-column-gap: 20px;
  --qs-base-row-gap: 15px;
  --qs-component-margin: 20px;
  --qs-scrollbar-width: 6px;

  --qs-container-bg-color: var(--el-color-white);
  --qs-container-shadow: var(--el-box-shadow-lighter);
  --qs-container-border-radius: var(--el-border-radius-round);

  --qs-logo-width: 250px;
  --qs-header-height: 60px;
  --qs-tags-height: 60px;
  --qs-menu-height: 60px;
  --qs-menu-height: 60px;

  --qs-form-gap: 20px 10px;
}

.default_1 {
  --sizing-scrollbar: 10px;
}

.yellow {
  --color-primary-10: #fffdf5;
  --color-primary-20: #fff8e0;
  --color-primary-30: #ffefb5;
  --color-primary-40: #fee500;
  --color-primary-50: #ffb800;
  --color-primary-60: #d98912;
  --color-primary-70: #8e5c12;
  --color-primary-80: #76400b;
  --color-primary-90: #5e4d3d;
  --color-primary-100: #3b3735;
  --color-icon-10: #00c2ff;
  --color-icon-20: #0066ff;
  --color-icon-30: #ff5c00;
  --color-icon-40: #0d6b49;
  --color-icon-50: #68686f;
  --color-icon-60: #ffce00;
  --color-gray-10: #ffffff;
  --color-gray-20: #f6f6f6;
  --color-gray-30: #f1f1f1;
  --color-gray-40: #e8e8e8;
  --color-gray-50: #dddddd;
  --color-gray-60: #c1c4cc;
  --color-gray-70: #909399;
  --color-gray-80: #606266;
  --color-gray-90: #222222;
  --color-gray-100: #000000;
  --color-semantic-success: #009220;
  --color-semantic-success10: #8edc51;
  --color-semantic-success20: #eefbe5;
  --color-semantic-danger: #ff5c00;
  --color-semantic-danger10: #ff8541;
  --color-semantic-danger20: #ffe1d0;
  --color-semantic-warning: #ffb800;
  --color-semantic-warning10: #fee500;
  --color-semantic-warning20: #fff8e0;
  --color-semantic-required: #d80d19;
  --color-semantic-currentday: #5d4d3d;
  --color-semantic-info: #909399;
  --color-semantic-info10: #dddddd;
  --color-semantic-info20: #f1f1f1;
  --color-header-icon-default: #3b3735;
  --color-header-dropdownmenu-item-background-hover: #fff8e0;
  --color-header-dropdownmenu-item-font-default: #8e5c12;
  --color-header-dropdownmenu-item-font-hover: #5e4d3d;
  --color-dropdownmenu-item-background-hover: #f1f1f1;
  --color-dropdownmenu-item-font-default: #606266;
  --color-dropdownmenu-item-font-hover: #222222;
  --color-dropdownmenu-item-font-disabled: #909399;
  --color-avatar-name-font: #000000;
  --color-breadcrumb-icon-default: #606266;
  --color-breadcrumb-font-active: #3b3735;
  --color-breadcrumb-font-default: #909399;
  --color-breadcrumb-font-hover: #3b3735;
  --color-tags-item-background-default: #e8e8e8;
  --color-tags-item-background-active: #ffb800;
  --color-tags-item-font-active: #000000;
  --color-tags-item-font-default: #000000;
  --color-tags-item-border-active: #ffb800;
  --color-tags-item-border-default: #e8e8e8;
  --color-tags-item-close-border-default: #909399;
  --color-tags-item-close-background-default: #ffffff;
  --color-tags-item-close-background-selected: #d98912;
  --color-tags-contextmenu-border-color: #dddddd;
  --color-tags-contextmenu-background-color-hover: #fee500;
  --color-button-default-background-hover: #e8e8e8;
  --color-button-default-font-disabled: #909399;
  --color-button-lookup-default: #ffb800;
  --color-confirm-border-default: #ffefb5;
  --color-confirm-header-border: #5e4d3d;
  --color-confirm-title: #5e4d3d;
  --color-confirm-button-confirm-background-default: #fee500;
  --color-confirm-button-confirm-border-default: #ffb800;
  --color-confirm-button-confirm-font-default: #3b3735;
  --color-confirm-button-cancel-border-default: #dddddd;
  --color-confirm-button-cancel-font-default: #909399;
  --color-form-button-font-default: #000000;
  --color-form-button-font-disabled: #909399;
  --color-form-button-font-hover: #000000;
  --color-form-button-border-default: #e8e8e8;
  --color-form-button-border-disabled: #e8e8e8;
  --color-form-button-border-hover: #e8e8e8;
  --color-form-button-background-disabled: #f1f1f1;
  --color-form-button-background-hover: #ffb800;
  --color-input-background-disabled: #f1f1f1;
  --color-input-border-default: #e8e8e8;
  --color-input-border-hover: #ffb800;
  --color-input-border-disabled: #e8e8e8;
  --color-input-font-placeholder: #909399;
  --color-input-font-disabled: #c1c4cc;
  --color-radio-border-checked: #ffb800;
  --color-radio-border-default: #dddddd;
  --color-radio-pseudo-background-checked: #ffb800;
  --color-checkbox-border-checked: #ffb800;
  --color-checkbox-border-default: #c1c4cc;
  --color-checkbox-border-disabled: #dddddd;
  --color-checkbox-background-checked: #ffb800;
  --color-checkbox-background-disabled: #f1f1f1;
  --color-checkbox-pseudo-border-checked: #000000;
  --color-checkbox-pseudo-border-desabled: #dddddd;
  --color-tab-border-default: #5e4d3d;
  --color-tab-item-background-selected: #ffb800;
  --color-tab-item-background-default: #f6f6f6;
  --color-tab-item-background-hover: #ffb800;
  --color-tab-item-border-selected: #ffb800;
  --color-tab-item-border-default: #e8e8e8;
  --color-tab-item-border-hover: #ffb800;
  --color-tab-item-font-selected: #3b3735;
  --color-tab-item-font-default: #909399;
  --color-tab-item-font-hover: #76400b;
  --color-comment-border-default: #e8e8e8;
  --color-comment-more-button-background-hover: #f6f6f6;
  --color-popup-header-background: #fff8e0;
  --color-timeline-item-tail: #e8e8e8;
  --color-timeline-item-title-color-default: #909399;
  --color-timeline-item-content-color-default: #606266;
  --color-step-success: #8e5c12;
  --color-step-process: #ffb800;
  --color-step-wait: #c1c4cc;
  --color-theme-primary: #ffb800;
  --color-select-dropdown-background-hover: #fffdf5;
  --color-select-dropdown-background-selected: #fff8e0;
  --color-select-dropdown-font-default: #909399;
  --color-select-dropdown-font-selected: #5e4d3d;
  --color-select-dropdown-font-hover: #606266;
  --color-select-dropdown-font-disabled: #909399;
  --color-anchor-font-default: #d98912;
  --color-anchor-font-hover: #ffb800;
  --color-anchor-font-visited: #76400b;
  --color-list-cell-border-default: #e8e8e8;
  --color-list-head-leaf-border-bottom: #dddddd;
  --color-list-head-cell-searched-font-default: #fee500;
  --color-list-head-cell-sort-font-default: #ffffff;
  --color-list-head-cell-sort-font-selected: #fee500;
  --color-list-head-cell-background-default: #5e4d3d;
  --color-list-head-cell-font-default: #ffffff;
  --color-list-body-cell-background-default: #f6f6f6;
  --color-list-body-cell-background-hover: #fff8e0;
  --color-list-body-cell-background-selected: #fff8e0;
  --color-list-body-cell-empty-font-default: #e8e8e8;
  --color-list-body-cell-required-font-default: #d80d19;
  --color-list-body-cell-total-font-default: #000000;
  --color-list-body-cell-progress-border-default: #dddddd;
  --color-list-body-cell-progress-background-default: #ffb800;
  --color-list-body-cell-rating-default: #dddddd;
  --color-list-body-cell-rating-active: #d98912;
  --color-list-pager-selected: #ffb800;
  --color-list-pager-default: #c1c4cc;
  --color-list-loading-stroke: #8e5c12;
  --color-list-footer-cell-background-default: #fff8e0;
  --color-alert-info-border-default: #dddddd;
  --color-alert-info-font-default: #909399;
  --color-alert-info-background-default: #f1f1f1;
  --color-alert-success-border-default: #8edc51;
  --color-alert-success-font-default: #009220;
  --color-alert-success-background-default: #eefbe5;
  --color-alert-warning-border-default: #fee500;
  --color-alert-warning-font-default: #ffb800;
  --color-alert-warning-background-default: #fff8e0;
  --color-alert-danger-border-default: #ff8541;
  --color-alert-danger-font-default: #ff5c00;
  --color-alert-danger-background-default: #ffe1d0;
  --color-datepicker-highlight: #0d6b49;
  --color-schedule-current-date: #5d4d3d;
  --color-sidebar-background-default: #3b3735;
  --color-sidebar-menu-border-default: #222222;
  --color-sidebar-collapse-title-font-default: #000000;
  --color-sidebar-collapse-title-background-default: #ffb800;
  --color-sidebar-collapse-menu-background-hover: #3b3735;
  --color-sidebar-collapse-menu-background-default: #606266;
  --color-sidebar-depth1-color-default: #ffffff;
  --color-sidebar-depth1-color-select: #ffffff;
  --color-sidebar-depth1-background-default: #3b3735;
  --color-sidebar-depth2-color-default: #ffffff;
  --color-sidebar-depth2-color-select: #ffb800;
  --color-sidebar-depth2-edge: #8e5c12;
  --color-sidebar-depth2-background-default: #45413f;
  --color-sidebar-depth3-color-default: #ffffff;
  --color-sidebar-depth3-color-select: #ffb800;
  --color-sidebar-depth3-edge: #d98912;
  --color-sidebar-depth3-background-default: #4f4b49;
  --color-sidebar-depth4-color-default: #ffffff;
  --color-sidebar-depth4-color-select: #ffb800;
  --color-sidebar-depth4-edge: #ffb800;
  --color-sidebar-depth4-background-default: #585553;
  --color-sidebar-depth5-color-default: #ffffff;
  --color-sidebar-depth5-color-select: #ffb800;
  --color-sidebar-depth5-edge: #ffefb5;
  --color-sidebar-depth5-background-default: #5d5b5a;
  --color-kanban-background: #f1f1f1;
  --color-kanban-header-background: #ffb800;
  --color-kanban-header-title: #3b3735;
  --color-kanban-header-count: #8e5c12;
  --color-kanban-card-content: #000000;
  --color-kanban-card-tags-background: #ffefb5;
  --color-kanban-card-tags-default: #000000;
  --color-right-panel-background: #f6f6f6;
  --color-bottom-panel-background: #f6f6f6;
  --color-bottom-panel-border: #c1c4cc;
  --color-label-edge-background: #909399;
  --color-fileupload-desc-font: #909399;
  --color-fileupload-border: #e8e8e8;
  --color-fileupload-info-font: #000000;
  --color-fileupload-info-file-open-font: #8e5c12;
  --color-fileupload-info-progress-background: #c1c4cc;
  --color-image-view-background: #fffdf5;
  --color-box-label: #c1c4cc;
  --color-box-icon-background: #fff8e0;
  --color-tree-button-default: #ffb800;
  --color-component-title-border: #5e4d3d;
  --color-component-title-arrow-color: #909399;
  --color-app-wrapper-background: #f1f1f1;
  --color-inlineedittoolbar-icon-new: #00c2ff;
  --color-inlineedittoolbar-icon-edit: #0066ff;
  --color-inlineedittoolbar-icon-delete: #ff5c00;
  --color-inlineedittoolbar-icon-save: #0d6b49;
  --color-inlineedittoolbar-icon-cancel: #68686f;
  --color-toolbar-button-background-hover: #e8e8e8;
  --color-toolbar-button-font-disabled: #909399;
  --color-sitemap-menu-search-border-focus: #c1c4cc;
  --color-sitemap-menu-search-font: #d80d19;
  --color-sitemap-menu-font: #222222;
  --color-secondary-10: #45413f;
  --color-secondary-20: #4f4b49;
  --color-secondary-30: #585553;
  --color-secondary-40: #5d5b5a;
  --color-secondary-50: #fdd95c;
  --color-notification-icon-count-background-color: #d80d19;
  --color-notification-item-urgent-background-color: #ffb800;
  --color-notification-item-urgent-border-color: #e8e8e8;
  --color-notification-item-icon-check-receipt-color: #76400b;
  --color-notification-popup-item-urgent-background-color: #fdd95c;
  --spacing-list-cell-y: 4.5px;
  --spacing-gap-xs: 4.5px;
}