:root {
  /* Default theme is 'core' */
  --color-primary-10: #F5FAFC;
  --color-primary-20: #F4F7F8;
  --color-primary-30: #F3F5F5;
  --color-primary-40: #E7F3F7;
  --color-primary-50: #DAE6EB;
  --color-primary-60: #9FCAD9;
  --color-primary-70: #5796AD;
  --color-primary-80: #3386A2;
  --color-primary-90: #055A78;
  --color-primary-100: #2F657D;
  --color-icon-10: #F3B45B;
  --color-icon-20: #0E8BFF;
  --color-icon-30: #FE8057;
  --color-icon-40: #2AAEB1;
  --color-icon-50: #8C8C8C;
  --color-icon-60: #FFCE00;
  --color-gray-10: #FFFFFF;
  --color-gray-20: #F6F6F6;
  --color-gray-30: #F1F1F1;
  --color-gray-40: #E8E8E8;
  --color-gray-50: #DDDDDD;
  --color-gray-60: #C1C4CC;
  --color-gray-70: #909399;
  --color-gray-80: #606266;
  --color-gray-90: #222222;
  --color-gray-100: #000000;
  --color-gray-110: #F0F3F5;
  --color-semantic-success: #2FC898;
  --color-semantic-success10: #6CDDBA;
  --color-semantic-success20: #BAF1E1;
  --color-semantic-danger: #F56C6C;
  --color-semantic-danger10: #FEB5B6;
  --color-semantic-danger20: #FFE4E4;
  --color-semantic-warning: #E6A23C;
  --color-semantic-warning10: #F2C98B;
  --color-semantic-warning20: #FFF3DD;
  --color-semantic-required: #F75456;
  --color-semantic-currentday: #E3165B;
  --color-semantic-info: #909399;
  --color-semantic-info10: #BCBEC5;
  --color-semantic-info20: #F1F1FD;
  --color-header-icon-default: #3386A2;
  --color-header-background-default: #FFFFFF;
  --color-header-dropdownmenu-item-background-hover: #DAE6EB;
  --color-header-dropdownmenu-item-font-default: #5796AD;
  --color-header-dropdownmenu-item-font-hover: #055A78;
  --color-dropdown-background-default: #FFFFFF;
  --color-dropdown-boxshadow: #0000001f;
  --color-dropdownmenu-item-background-hover: #F1F1F1;
  --color-dropdownmenu-item-font-default: #606266;
  --color-dropdownmenu-item-font-hover: #222222;
  --color-dropdownmenu-item-font-disabled: #909399;
  --color-avatar-name-font: #606266;
  --color-breadcrumb-icon-default: #606266;
  --color-breadcrumb-font-active: #5796AD;
  --color-breadcrumb-font-default: #222222;
  --color-breadcrumb-font-hover: #3386A2;
  --color-tags-item-background-default: #FFFFFF;
  --color-tags-item-background-active: #9FCAD9;
  --color-tags-item-font-active: #2F657D;
  --color-tags-item-font-default: #C1C4CC;
  --color-tags-item-border-active: #9FCAD9;
  --color-tags-item-border-default: #FFFFFF;
  --color-tags-item-close-border-default: #C1C4CC;
  --color-tags-item-close-border-selected: #FFFFFF;
  --color-tags-item-close-background-default: #FFFFFF;
  --color-tags-item-close-background-selected: #9FCAD9;
  --color-tags-contextmenu-border-color: #DDDDDD;
  --color-tags-contextmenu-background-color-default: #FFFFFF;
  --color-tags-contextmenu-background-color-hover: #E7F3F7;
  --color-button-default-background-default: #FFFFFF;
  --color-button-default-background-disabled: #FFFFFF;
  --color-button-default-background-hover: #E8E8E8;
  --color-button-default-font-default: #000000;
  --color-button-default-font-disabled: #909399;
  --color-button-default-font-hover: #000000;
  --color-button-default-border-default: transparent;
  --color-button-default-border-disabled: transparent;
  --color-button-default-border-hover: transparent;
  --color-button-lookup-default: #055A78;
  --color-confirm-border-default: #E7F3F7;
  --color-confirm-header-border: #055A78;
  --color-confirm-title: #055A78;
  --color-confirm-button-confirm-background-default: #E7F3F7;
  --color-confirm-button-confirm-border-default: #DAE6EB;
  --color-confirm-button-confirm-font-default: #2F657D;
  --color-confirm-button-cancel-background-default: #FFFFFF;
  --color-confirm-button-cancel-border-default: #DDDDDD;
  --color-confirm-button-cancel-font-default: #909399;
  --color-confirm-boxshadow: #0000003d;
  --color-form-button-font-default: #055A78;
  --color-form-button-font-disabled: #909399;
  --color-form-button-font-hover: #055A78;
  --color-form-button-border-default: #E8E8E8;
  --color-form-button-border-disabled: #E8E8E8;
  --color-form-button-border-hover: #E8E8E8;
  --color-form-button-background-default: #FFFFFF;
  --color-form-button-background-disabled: #F1F1F1;
  --color-form-button-background-hover: #E8E8E8;
  --color-input-background-default: #FFFFFF;
  --color-input-background-hover: #FFFFFF;
  --color-input-background-disabled: #F1F1F1;
  --color-input-border-default: #E8E8E8;
  --color-input-border-hover: #9FCAD9;
  --color-input-border-disabled: #E8E8E8;
  --color-input-font-placeholder: #C1C4CC;
  --color-input-font-disabled: #606266;
  --color-input-font-hover: #000000;
  --color-input-font-default: #000000;
  --color-radio-border-checked: #055A78;
  --color-radio-border-default: #C1C4CC;
  --color-radio-background-checked: #FFFFFF;
  --color-radio-background-default: #FFFFFF;
  --color-radio-pseudo-background-checked: #055A78;
  --color-radio-pseudo-background-default: #FFFFFF;
  --color-checkbox-border-checked: #055A78;
  --color-checkbox-border-default: #C1C4CC;
  --color-checkbox-border-disabled: #C1C4CC;
  --color-checkbox-background-checked: #FFFFFF;
  --color-checkbox-background-default: #FFFFFF;
  --color-checkbox-background-disabled: #F1F1F1;
  --color-checkbox-pseudo-border-checked: #055A78;
  --color-checkbox-pseudo-border-default: #FFFFFF;
  --color-checkbox-pseudo-border-desabled: #C1C4CC;
  --color-tab-border-default: #9FCAD9;
  --color-tab-item-background-selected: #9FCAD9;
  --color-tab-item-background-default: #FFFFFF;
  --color-tab-item-background-hover: #FFFFFF;
  --color-tab-item-border-selected: #9FCAD9;
  --color-tab-item-border-default: #9FCAD9;
  --color-tab-item-border-hover: #9FCAD9;
  --color-tab-item-font-selected: #055A78;
  --color-tab-item-font-default: #606266;
  --color-tab-item-font-hover: #3386A2;
  --color-comment-border-default: #DDDDDD;
  --color-comment-more-button-default: #000000;
  --color-comment-more-button-background-default: #FFFFFF;
  --color-comment-more-button-background-hover: #F6F6F6;
  --color-popup-background-default: #FFFFFF;
  --color-popup-header-background: #F0F3F5;
  --color-popup-close-button-background: transparent;
  --color-popup-boxshadow: #0000004a;
  --color-timeline-item-tail: #E8E8E8;
  --color-timeline-item-backgrond-default: #FFFFFF;
  --color-timeline-item-title-color-default: #909399;
  --color-timeline-item-content-color-default: #606266;
  --color-step-success: #5796AD;
  --color-step-process: #222222;
  --color-step-wait: #909399;
  --color-theme-primary: #5796AD;
  --color-select-dropdown-background-default: #FFFFFF;
  --color-select-dropdown-background-hover: #F5FAFC;
  --color-select-dropdown-background-selected: #E7F3F7;
  --color-select-dropdown-font-default: #909399;
  --color-select-dropdown-font-selected: #055A78;
  --color-select-dropdown-font-hover: #606266;
  --color-select-dropdown-font-disabled: #909399;
  --color-select-dropdown-boxshadow: #0000001f;
  --color-anchor-font-default: #007dbc;
  --color-anchor-font-hover: #4bafc8b3;
  --color-anchor-font-visited: #005b86;
  --color-list-cell-border-default: #E8E8E8;
  --color-list-head-leaf-border-bottom: #C1C4CC;
  --color-list-head-cell-searched-font-default: #5796AD;
  --color-list-head-cell-sort-font-default: #C1C4CC;
  --color-list-head-cell-sort-font-selected: #5796AD;
  --color-list-head-cell-background-default: #F5FAFC;
  --color-list-head-cell-font-default: #000000;
  --color-list-body-cell-background-default: #FFFFFF;
  --color-list-body-cell-background-hover: #F6F6F6;
  --color-list-body-cell-background-selected: #E7F3F7;
  --color-list-body-cell-empty-font-default: #F6F6F6;
  --color-list-body-cell-required-font-default: #F75456;
  --color-list-body-cell-total-font-default: #5796AD;
  --color-list-body-cell-progress-border-default: #C1C4CC;
  --color-list-body-cell-progress-background-default: #E7F3F7;
  --color-list-body-cell-rating-default: #DAE6EB;
  --color-list-body-cell-rating-active: #FFCE00;
  --color-list-body-cell-font-default: #000000;
  --color-list-pager-selected: #5796AD;
  --color-list-pager-default: #C1C4CC;
  --color-list-loading-stroke: #5796AD;
  --color-list-footer-cell-background-default: #F6F6F6;
  --color-alert-info-border-default: #BCBEC5;
  --color-alert-info-font-default: #909399;
  --color-alert-info-background-default: #F1F1FD;
  --color-alert-success-border-default: #6CDDBA;
  --color-alert-success-font-default: #2FC898;
  --color-alert-success-background-default: #BAF1E1;
  --color-alert-warning-border-default: #F2C98B;
  --color-alert-warning-font-default: #E6A23C;
  --color-alert-warning-background-default: #FFF3DD;
  --color-alert-danger-border-default: #FEB5B6;
  --color-alert-danger-font-default: #F56C6C;
  --color-alert-danger-background-default: #FFE4E4;
  --color-alert-boxshadow: #00000059;
  --color-datepicker-highlight: #2AAEB1;
  --color-datepicker-boxshadow: #0000001a;
  --color-font-default: #000000;
  --color-schedule-current-date: #E3165B;
  --color-schedule-background-default: #FFFFFF;
  --color-sidebar-background-default: #F4F7F8;
  --color-sidebar-menu-border-default: #DAE6EB;
  --color-sidebar-collapse-title-font-default: #FFFFFF;
  --color-sidebar-collapse-title-background-default: #3386A2;
  --color-sidebar-collapse-menu-background-hover: #F4F7F8;
  --color-sidebar-collapse-menu-background-default: #FFFFFF;
  --color-sidebar-depth1-color-default: #3386A2;
  --color-sidebar-depth1-color-select: #2F657D;
  --color-sidebar-depth1-edge: transparent;
  --color-sidebar-depth1-background-default: transparent;
  --color-sidebar-depth2-color-default: #3386A2;
  --color-sidebar-depth2-color-select: #2F657D;
  --color-sidebar-depth2-edge: #9FCAD9;
  --color-sidebar-depth2-background-default: transparent;
  --color-sidebar-depth3-color-default: #3386A2;
  --color-sidebar-depth3-color-select: #2F657D;
  --color-sidebar-depth3-edge: #5796AD;
  --color-sidebar-depth3-background-default: transparent;
  --color-sidebar-depth4-color-default: #3386A2;
  --color-sidebar-depth4-color-select: #2F657D;
  --color-sidebar-depth4-edge: #3386A2;
  --color-sidebar-depth4-background-default: transparent;
  --color-sidebar-depth5-color-default: #3386A2;
  --color-sidebar-depth5-color-select: #2F657D;
  --color-sidebar-depth5-edge: #055A78;
  --color-sidebar-depth5-background-default: transparent;
  --color-sidebar-item-boxshadow: #0000001f;
  --color-sidebar-boxshadow: #0000001f;
  --color-scrollbar-default: #909399;
  // --color-scrollbar-hover: #90939980; /* 9093994d */
  --color-kanban-background: #F6F6F6;
  --color-kanban-header-background: #5796AD;
  --color-kanban-header-title: #FFFFFF;
  --color-kanban-header-count: #F1F1F1;
  --color-kanban-card-background: #FFFFFF;
  --color-kanban-card-title: #000000;
  --color-kanban-card-content: #606266;
  --color-kanban-card-tags-background: #DAE6EB;
  --color-kanban-card-tags-default: #3386A2;
  --color-kanban-card-boxshadow: #00000029;
  --color-right-panel-background: #F6F6F6;
  --color-right-panel-boxshadow: #0000001f;
  --color-bottom-panel-background: #F6F6F6;
  --color-bottom-panel-border: #C1C4CC;
  --color-bottom-panel-boxshadow: #0000001f;
  --color-label-edge-background: #909399;
  --color-fileupload-desc-font: #909399;
  --color-fileupload-border: #E8E8E8;
  --color-fileupload-info-font: #606266;
  --color-fileupload-info-file-open-font: #5796AD;
  --color-fileupload-info-background: #FFFFFF;
  --color-fileupload-info-progress-background: #C1C4CC;
  --color-image-view-background: #F4F7F8;
  --color-box-label: #C1C4CC;
  --color-box-icon-background: #F4F7F8;
  --color-tree-button-default: #055A78;
  --color-component-background: #FFFFFF;
  --color-component-title-border: #9FCAD9;
  --color-component-title-arrow-color: #606266;
  --color-app-wrapper-background: #F3F5F5;
  --color-inlineedittoolbar-icon-background: #FFFFFF;
  --color-inlineedittoolbar-icon-new: #F3B45B;
  --color-inlineedittoolbar-icon-edit: #0E8BFF;
  --color-inlineedittoolbar-icon-delete: #FE8057;
  --color-inlineedittoolbar-icon-save: #2AAEB1;
  --color-inlineedittoolbar-icon-cancel: #8C8C8C;
  --color-toolbar-button-background-hover: #E8E8E8;
  --color-toolbar-button-background-disabled: #FFFFFF;
  --color-toolbar-button-background-default: #FFFFFF;
  --color-toolbar-button-font-default: #000000;
  --color-toolbar-button-font-disabled: #909399;
  --color-toolbar-button-font-hover: #000000;
  --color-toolbar-button-border-default: transparent;
  --color-toolbar-button-border-disabled: transparent;
  --color-toolbar-button-border-hover: transparent;
  --color-overlay-loading-font: #FFFFFF;
  --color-overlay-loading-boxshadow: #0000004d;
  --color-vfm-background: #00000033;
  --color-sitemap-menu-search-border-focus: #C1C4CC;
  --color-sitemap-menu-search-font: #F75456;
  --color-sitemap-menu-match-font: #FFFFFF;
  --color-sitemap-menu-font: #222222;
  --color-secondary-10: #007dbc;
  --color-secondary-20: #4bafc8b3;
  --color-secondary-30: #005b86;
  --color-notification-icon-count-color: #FFFFFF;
  --color-notification-icon-count-background-color: #E3165B;
  --color-notification-item-urgent-background-color: #FFE4E4;
  --color-notification-item-urgent-border-color: #FEB5B6;
  --color-notification-item-icon-check-receipt-color: #3386A2;
  --color-notification-popup-item-urgent-background-color: #FFE4E4;
  --fontfamily-default: 'Noto Sans KR', sans-serif, Arial;
  --fontweight-100: 100;
  --fontweight-300: 300;
  --fontweight-400: 400;
  --fontweight-500: 500;
  --fontweight-700: 700;
  --fontweight-900: 900;
  --fontweight-default: 400;
  --fontweight-tab-item: 400;
  --fontweight-popup-title: 700;
  --fontweight-confirm-button: 700;
  --fontweight-box-label: 500;
  --fontweight-box-data: 700;
  --fontweight-button-default: 500;
  --fontweight-form-button: 500;
  --fontweight-list-cell: 300;
  --fontweight-list-header: 500;
  --fontweight-list-pager-selected: 500;
  --fontweight-input: 400;
  --fontweight-breadcrumb-default: 400;
  --fontweight-breadcrumb-active: 400;
  --fontweight-avatar-name: 500;
  --fontweight-sidebar-default: 400;
  --fontweight-sidebar-hover: 500;
  --fontweight-sidebar-selected: 500;
  --fontweight-tags-item: 400;
  --fontweight-component-title-arrow: 700;
  --fontweight-kanban-header-title: 500;
  --fontweight-kanban-card-title: 500;
  --fontweight-fileupload-desc: 400;
  --fontweight-comment-more-button: 500;
  --borderradius-default: 4px;
  --fontsize-default: 14px;
  --fontsize-xs: 0.75;
  --fontsize-2xs: 0.563;
  --fontsize-s: 0.875;
  --fontsize-m: 1;
  --fontsize-l: 1.15;
  --fontsize-xl: 1.25;
  --fontsize-2xl: 1.5;
  --fontsize-3xl: 3.5;
  --fontsize-h1: 78.75px;
  --fontsize-h2: 52.5px;
  --fontsize-h3: 42px;
  --fontsize-h4: 29.75px;
  --fontsize-h5: 21px;
  --fontsize-h6: 12.25px;
  --fontsize-sidebar-default: 12.25px;
  --fontsize-sidebar-selected: 16.099999999999998px;
  --fontsize-sidebar-collapse-icon: 16.099999999999998px;
  --fontsize-sidebar-hover: 12.25px;
  --fontsize-base: 12.25px;
  --fontsize-component-title-arrow: 17.5px;
  --fontsize-comment-more-button: 14px;
  --fontsize-kanban-header-title: 16.099999999999998px;
  --fontsize-kanban-header-count: 12.25px;
  --fontsize-kanban-card-title: 16.099999999999998px;
  --fontsize-kanban-card-content: 14px;
  --fontsize-kanban-card-tags: 12.25px;
  --fontsize-list-cell-default: 12.25px;
  --fontsize-list-cell-direct-edit: 17.5px;
  --fontsize-list-cell-rating: 17.5px;
  --fontsize-tab-item: 14px;
  --fontsize-tree-node: 14px;
  --fontsize-tree-button: 16.099999999999998px;
  --fontsize-box-label: 16.099999999999998px;
  --fontsize-box-data-suffix: 21px;
  --fontsize-box-data-default: 49px;
  --fontsize-fileupload-detail-info: 12.25px;
  --fontsize-fileupload-desc: 10.5px;
  --fontsize-input: 12.25px;
  --fontsize-label: 12.25px;
  --fontsize-inlineedittoolbar-icon: 14px;
  --fontsize-breadcrumb-default: 16.099999999999998px;
  --fontsize-breadcrumb-active: 16.099999999999998px;
  --fontsize-dropdownmenu-item: 12.25px;
  --fontsize-header-icon: 21px;
  --fontsize-header-dropdownmenu-item: 14px;
  --fontsize-avatar-name: 16.099999999999998px;
  --fontsize-tags-item: 14px;
  --fontsize-popup-title: 16.099999999999998px;
  --fontsize-popup-close-button: 21px;
  --fontsize-confirm-content: 16.099999999999998px;
  --fontsize-confirm-button: 16.099999999999998px;
  --fontsize-button-default: 12.25px;
  --fontsize-form-button: 12.25px;
  --fontsize-step-default: 16.099999999999998px;
  --spacing-gap-s: 5px;
  --spacing-gap-m: 7.5px;
  --spacing-gap-default: 7.5px;
  --spacing-gap-l: 10px;
  --spacing-gap-xl: 15px;
  --spacing-gap-2xl: 20px;
  --spacing-gap-3xl: 30px;
  --spacing-gap-xs: 4.5px;
  --spacing-kanban-padding-top: 10px;
  --spacing-kanban-card-tags-x: 6px;
  --spacing-kanban-card-tags-y: 2px;
  --spacing-kanban-card-tags-margin: 15px;
  --spacing-kanban-card-padding: 10px;
  --spacing-rightpanel-x: 20px;
  --spacing-bottompanel-x: 20px;
  --spacing-sidebar-sidemenu-level: 20px;
  --spacing-list-cell-x: 7.5px;
  --spacing-list-cell-y: 6.5px;
  --spacing-tab-padding-y: 10px;
  --spacing-tab-item-padding-x: 20px;
  --spacing-tab-item-margin-left: 15px;
  --spacing-layout-padding-x: 20px;
  --spacing-component-padding-top: 5px;
  --spacing-component-margin-bottom: 15px;
  --spacing-input-padding-x: 7.5px;
  --spacing-input-padding-y: 5px;
  --spacing-textarea-x: 15px;
  --spacing-textarea-y: 5px;
  --spacing-tree-padding-top: 10px;
  --spacing-header-item-margin-x: 20px;
  --spacing-tags-padding-y: 10px;
  --spacing-tags-item-margin-x: 15px;
  --spacing-tags-item-y: 4px;
  --spacing-tags-item-x: 10px;
  --spacing-comment-item-margin-bottom: 10px;
  --spacing-comment-more-button-padding-y: 10px;
  --spacing-comment-padding: 15px;
  --spacing-timeline-padding-top: 10px;
  --spacing-timeline-item-title-margin-bottom: 15px;
  --spacing-schedule-padding-top: 10px;
  --spacing-form-padding-top: 10px;
  --spacing-form-item-margin-bottom: 20px;
  --spacing-form-item-label-margin-bottom: 2px;
  --opacity-inlineedittoolbar-icon: 20%;
  --opacity-overlay-loading: 30%;
  --sizing-scrollbar: 6px;
}

.default_1 {
  --sizing-scrollbar: 10px;
}

.yellow {
  --color-primary-10: #FFFDF5;
  --color-primary-20: #FFF8E0;
  --color-primary-30: #FFEFB5;
  --color-primary-40: #FEE500;
  --color-primary-50: #FFB800;
  --color-primary-60: #D98912;
  --color-primary-70: #8E5C12;
  --color-primary-80: #76400B;
  --color-primary-90: #5E4D3D;
  --color-primary-100: #3B3735;
  --color-icon-10: #00C2FF;
  --color-icon-20: #0066FF;
  --color-icon-30: #FF5C00;
  --color-icon-40: #0D6B49;
  --color-icon-50: #68686F;
  --color-icon-60: #FFCE00;
  --color-gray-10: #FFFFFF;
  --color-gray-20: #F6F6F6;
  --color-gray-30: #F1F1F1;
  --color-gray-40: #E8E8E8;
  --color-gray-50: #DDDDDD;
  --color-gray-60: #C1C4CC;
  --color-gray-70: #909399;
  --color-gray-80: #606266;
  --color-gray-90: #222222;
  --color-gray-100: #000000;
  --color-semantic-success: #009220;
  --color-semantic-success10: #8EDC51;
  --color-semantic-success20: #EEFBE5;
  --color-semantic-danger: #FF5C00;
  --color-semantic-danger10: #FF8541;
  --color-semantic-danger20: #FFE1D0;
  --color-semantic-warning: #FFB800;
  --color-semantic-warning10: #FEE500;
  --color-semantic-warning20: #FFF8E0;
  --color-semantic-required: #D80D19;
  --color-semantic-currentday: #5D4D3D;
  --color-semantic-info: #909399;
  --color-semantic-info10: #DDDDDD;
  --color-semantic-info20: #F1F1F1;
  --color-header-icon-default: #3B3735;
  --color-header-dropdownmenu-item-background-hover: #FFF8E0;
  --color-header-dropdownmenu-item-font-default: #8E5C12;
  --color-header-dropdownmenu-item-font-hover: #5E4D3D;
  --color-dropdownmenu-item-background-hover: #F1F1F1;
  --color-dropdownmenu-item-font-default: #606266;
  --color-dropdownmenu-item-font-hover: #222222;
  --color-dropdownmenu-item-font-disabled: #909399;
  --color-avatar-name-font: #000000;
  --color-breadcrumb-icon-default: #606266;
  --color-breadcrumb-font-active: #3B3735;
  --color-breadcrumb-font-default: #909399;
  --color-breadcrumb-font-hover: #3B3735;
  --color-tags-item-background-default: #E8E8E8;
  --color-tags-item-background-active: #FFB800;
  --color-tags-item-font-active: #000000;
  --color-tags-item-font-default: #000000;
  --color-tags-item-border-active: #FFB800;
  --color-tags-item-border-default: #E8E8E8;
  --color-tags-item-close-border-default: #909399;
  --color-tags-item-close-background-default: #FFFFFF;
  --color-tags-item-close-background-selected: #D98912;
  --color-tags-contextmenu-border-color: #DDDDDD;
  --color-tags-contextmenu-background-color-hover: #FEE500;
  --color-button-default-background-hover: #E8E8E8;
  --color-button-default-font-disabled: #909399;
  --color-button-lookup-default: #FFB800;
  --color-confirm-border-default: #FFEFB5;
  --color-confirm-header-border: #5E4D3D;
  --color-confirm-title: #5E4D3D;
  --color-confirm-button-confirm-background-default: #FEE500;
  --color-confirm-button-confirm-border-default: #FFB800;
  --color-confirm-button-confirm-font-default: #3B3735;
  --color-confirm-button-cancel-border-default: #DDDDDD;
  --color-confirm-button-cancel-font-default: #909399;
  --color-form-button-font-default: #000000;
  --color-form-button-font-disabled: #909399;
  --color-form-button-font-hover: #000000;
  --color-form-button-border-default: #E8E8E8;
  --color-form-button-border-disabled: #E8E8E8;
  --color-form-button-border-hover: #E8E8E8;
  --color-form-button-background-disabled: #F1F1F1;
  --color-form-button-background-hover: #FFB800;
  --color-input-background-disabled: #F1F1F1;
  --color-input-border-default: #E8E8E8;
  --color-input-border-hover: #FFB800;
  --color-input-border-disabled: #E8E8E8;
  --color-input-font-placeholder: #909399;
  --color-input-font-disabled: #C1C4CC;
  --color-radio-border-checked: #FFB800;
  --color-radio-border-default: #DDDDDD;
  --color-radio-pseudo-background-checked: #FFB800;
  --color-checkbox-border-checked: #FFB800;
  --color-checkbox-border-default: #C1C4CC;
  --color-checkbox-border-disabled: #DDDDDD;
  --color-checkbox-background-checked: #FFB800;
  --color-checkbox-background-disabled: #F1F1F1;
  --color-checkbox-pseudo-border-checked: #000000;
  --color-checkbox-pseudo-border-desabled: #DDDDDD;
  --color-tab-border-default: #5E4D3D;
  --color-tab-item-background-selected: #FFB800;
  --color-tab-item-background-default: #F6F6F6;
  --color-tab-item-background-hover: #FFB800;
  --color-tab-item-border-selected: #FFB800;
  --color-tab-item-border-default: #E8E8E8;
  --color-tab-item-border-hover: #FFB800;
  --color-tab-item-font-selected: #3B3735;
  --color-tab-item-font-default: #909399;
  --color-tab-item-font-hover: #76400B;
  --color-comment-border-default: #E8E8E8;
  --color-comment-more-button-background-hover: #F6F6F6;
  --color-popup-header-background: #FFF8E0;
  --color-timeline-item-tail: #E8E8E8;
  --color-timeline-item-title-color-default: #909399;
  --color-timeline-item-content-color-default: #606266;
  --color-step-success: #8E5C12;
  --color-step-process: #FFB800;
  --color-step-wait: #C1C4CC;
  --color-theme-primary: #FFB800;
  --color-select-dropdown-background-hover: #FFFDF5;
  --color-select-dropdown-background-selected: #FFF8E0;
  --color-select-dropdown-font-default: #909399;
  --color-select-dropdown-font-selected: #5E4D3D;
  --color-select-dropdown-font-hover: #606266;
  --color-select-dropdown-font-disabled: #909399;
  --color-anchor-font-default: #D98912;
  --color-anchor-font-hover: #FFB800;
  --color-anchor-font-visited: #76400B;
  --color-list-cell-border-default: #E8E8E8;
  --color-list-head-leaf-border-bottom: #DDDDDD;
  --color-list-head-cell-searched-font-default: #FEE500;
  --color-list-head-cell-sort-font-default: #FFFFFF;
  --color-list-head-cell-sort-font-selected: #FEE500;
  --color-list-head-cell-background-default: #5E4D3D;
  --color-list-head-cell-font-default: #FFFFFF;
  --color-list-body-cell-background-default: #F6F6F6;
  --color-list-body-cell-background-hover: #FFF8E0;
  --color-list-body-cell-background-selected: #FFF8E0;
  --color-list-body-cell-empty-font-default: #E8E8E8;
  --color-list-body-cell-required-font-default: #D80D19;
  --color-list-body-cell-total-font-default: #000000;
  --color-list-body-cell-progress-border-default: #DDDDDD;
  --color-list-body-cell-progress-background-default: #FFB800;
  --color-list-body-cell-rating-default: #DDDDDD;
  --color-list-body-cell-rating-active: #D98912;
  --color-list-pager-selected: #FFB800;
  --color-list-pager-default: #C1C4CC;
  --color-list-loading-stroke: #8E5C12;
  --color-list-footer-cell-background-default: #FFF8E0;
  --color-alert-info-border-default: #DDDDDD;
  --color-alert-info-font-default: #909399;
  --color-alert-info-background-default: #F1F1F1;
  --color-alert-success-border-default: #8EDC51;
  --color-alert-success-font-default: #009220;
  --color-alert-success-background-default: #EEFBE5;
  --color-alert-warning-border-default: #FEE500;
  --color-alert-warning-font-default: #FFB800;
  --color-alert-warning-background-default: #FFF8E0;
  --color-alert-danger-border-default: #FF8541;
  --color-alert-danger-font-default: #FF5C00;
  --color-alert-danger-background-default: #FFE1D0;
  --color-datepicker-highlight: #0D6B49;
  --color-schedule-current-date: #5D4D3D;
  --color-sidebar-background-default: #3B3735;
  --color-sidebar-menu-border-default: #222222;
  --color-sidebar-collapse-title-font-default: #000000;
  --color-sidebar-collapse-title-background-default: #FFB800;
  --color-sidebar-collapse-menu-background-hover: #3B3735;
  --color-sidebar-collapse-menu-background-default: #606266;
  --color-sidebar-depth1-color-default: #FFFFFF;
  --color-sidebar-depth1-color-select: #FFFFFF;
  --color-sidebar-depth1-background-default: #3B3735;
  --color-sidebar-depth2-color-default: #FFFFFF;
  --color-sidebar-depth2-color-select: #FFB800;
  --color-sidebar-depth2-edge: #8E5C12;
  --color-sidebar-depth2-background-default: #45413F;
  --color-sidebar-depth3-color-default: #FFFFFF;
  --color-sidebar-depth3-color-select: #FFB800;
  --color-sidebar-depth3-edge: #D98912;
  --color-sidebar-depth3-background-default: #4F4B49;
  --color-sidebar-depth4-color-default: #FFFFFF;
  --color-sidebar-depth4-color-select: #FFB800;
  --color-sidebar-depth4-edge: #FFB800;
  --color-sidebar-depth4-background-default: #585553;
  --color-sidebar-depth5-color-default: #FFFFFF;
  --color-sidebar-depth5-color-select: #FFB800;
  --color-sidebar-depth5-edge: #FFEFB5;
  --color-sidebar-depth5-background-default: #5D5B5A;
  --color-kanban-background: #F1F1F1;
  --color-kanban-header-background: #FFB800;
  --color-kanban-header-title: #3B3735;
  --color-kanban-header-count: #8E5C12;
  --color-kanban-card-content: #000000;
  --color-kanban-card-tags-background: #FFEFB5;
  --color-kanban-card-tags-default: #000000;
  --color-right-panel-background: #F6F6F6;
  --color-bottom-panel-background: #F6F6F6;
  --color-bottom-panel-border: #C1C4CC;
  --color-label-edge-background: #909399;
  --color-fileupload-desc-font: #909399;
  --color-fileupload-border: #E8E8E8;
  --color-fileupload-info-font: #000000;
  --color-fileupload-info-file-open-font: #8E5C12;
  --color-fileupload-info-progress-background: #C1C4CC;
  --color-image-view-background: #FFFDF5;
  --color-box-label: #C1C4CC;
  --color-box-icon-background: #FFF8E0;
  --color-tree-button-default: #FFB800;
  --color-component-title-border: #5E4D3D;
  --color-component-title-arrow-color: #909399;
  --color-app-wrapper-background: #F1F1F1;
  --color-inlineedittoolbar-icon-new: #00C2FF;
  --color-inlineedittoolbar-icon-edit: #0066FF;
  --color-inlineedittoolbar-icon-delete: #FF5C00;
  --color-inlineedittoolbar-icon-save: #0D6B49;
  --color-inlineedittoolbar-icon-cancel: #68686F;
  --color-toolbar-button-background-hover: #E8E8E8;
  --color-toolbar-button-font-disabled: #909399;
  --color-sitemap-menu-search-border-focus: #C1C4CC;
  --color-sitemap-menu-search-font: #D80D19;
  --color-sitemap-menu-font: #222222;
  --color-secondary-10: #45413F;
  --color-secondary-20: #4F4B49;
  --color-secondary-30: #585553;
  --color-secondary-40: #5D5B5A;
  --color-secondary-50: #fdd95c;
  --color-notification-icon-count-background-color: #D80D19;
  --color-notification-item-urgent-background-color: #FFB800;
  --color-notification-item-urgent-border-color: #E8E8E8;
  --color-notification-item-icon-check-receipt-color: #76400B;
  --color-notification-popup-item-urgent-background-color: #fdd95c;
  --spacing-list-cell-y: 4.5px;
  --spacing-gap-xs: 4.5px;
}
