:root {
    // color-scheme: light;
    --el-menu-item-height: 44px;
    --el-menu-sub-item-height: 36px;
    --el-menu-horizontal-height: 44px;
    --el-menu-horizontal-sub-item-height: 36px;

    --evc-scrollbar-width: 6px;

    --evc-font-size-root: 14px;
    --evc-layout-gap: 15px;
    --evc-layout-padding: 15px;

    --evc-layout-item-background-color: var(--el-color-white);
    --evc-layout-item-background-image: none;
    --evc-layout-item-shadow: var(--el-box-shadow-lighter);
    --evc-layout-item-border-radius: var(--el-border-radius-round);

    --evc-header-height: 60px;
    --evc-menu-width: 250px;
    --evc-menu-height: var(--el-menu-item-height);
    --evc-tags-height: 50px;

    --evc-form-gap: 20px 10px;
}

.green {
    --el-color-primary: #5796ad;
    --el-color-primary-light-3: #89b6c6;
    --el-color-primary-light-5: #abcbd6;
    --el-color-primary-light-7: #cde0e6;
    --el-color-primary-light-8: #ddeaef;
    --el-color-primary-light-9: #eef5f7;
    --el-color-primary-dark-2: #46788a;
    --el-color-primary-rgb: 87, 150, 173;
}

.yellow {
    --el-color-primary: #ffb800;
    --el-color-primary-light-3: #ffcd4d;
    --el-color-primary-light-5: #ffdc80;
    --el-color-primary-light-7: #ffeab3;
    --el-color-primary-light-8: #fff1cc;
    --el-color-primary-light-9: #fff8e6;
    --el-color-primary-dark-2: #cc9300;
    --el-color-primary-rgb: 255, 184, 0;
}

.green_2 {
    --el-color-primary: #328a23;
    --el-color-primary-light-3: #70ad65;
    --el-color-primary-light-5: #99c591;
    --el-color-primary-light-7: #c2dcbd;
    --el-color-primary-light-8: #d6e8d3;
    --el-color-primary-light-9: #ebf3e9;
    --el-color-primary-dark-2: #286e1c;
    --el-color-primary-rgb: 50, 138, 35;
}

.purple {
    --el-color-primary: #9065db;
    --el-color-primary-light-3: #b193e6;
    --el-color-primary-light-5: #c8b2ed;
    --el-color-primary-light-7: #ded1f4;
    --el-color-primary-light-8: #e9e0f8;
    --el-color-primary-light-9: #f4f0fb;
    --el-color-primary-dark-2: #7351af;
    --el-color-primary-rgb: 144, 101, 219;
}