@import 'form.scss';
@import 'list.scss';
@import 'toolbarForm.scss';
@import 'toolbarList.scss';

.ev-component {
  padding: var(--evc-component-padding);
  border-radius: var(--evc-component-border-radius);
  border: 1px solid var(--evc-component-border-color);
  background-color: var(--evc-component-background-color);
  background-image: var(--evc-component-background-image);
  backdrop-filter: blur(var(--evc-component-background-filter-blur));
  box-shadow: var(--evc-component-shadow);
  overflow: auto;

  .el-collapse {
    --el-collapse-header-height: initial;
    --el-collapse-border-color: var(--el-border-color-dark);
    --el-collapse-header-bg-color: initial;
    --el-collapse-content-bg-color: initial;

    border: initial;

    &-item__header {
      border: initial;
    }

    &-item__wrap {
      border: initial;
    }

    &-item__content {
      line-height: 1;
      padding-top: var(--evc-layout-gap);
      padding-bottom: initial;
      margin-top: var(--evc-layout-gap);
      border-top: 1px solid var(--el-collapse-border-color);
    }

    .ev-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 var(--evc-control-padding);

      &__title {
        margin: initial;
      }

      &__wrap {
        display: flex;
        column-gap: var(--evc-control-padding);
        z-index: 9;
      }
    }

    &-item__wrap {}
  }
}