@import 'form.scss';
@import 'list.scss';
@import 'toolbarForm.scss';
@import 'toolbarList.scss';

.ev-component {
  // background-color: var(--evc-layout-item-background-color);
  // background-image: var(--evc-layout-item-background-image);
  border-radius: var(--evc-layout-item-border-radius);
  // box-shadow: var(--evc-layout-item-shadow);
  // border: 1px solid cyan;

  &-scroll {
    max-height: 100%;
  }

  .el-collapse {
    // --el-collapse-header-height: initial;
    --el-collapse-header-bg-color: initial;
    --el-collapse-content-bg-color: initial;

    .ev-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 10px;

      &__title {
        margin: initial;
      }

      &__wrap {
        display: flex;
        column-gap: 10px;
        z-index: 9;
      }
    }

    &-item__wrap {}
  }
}