.ev-list-item {
    .el-table {
        font-size: var(--evc-font-size-root);

        .el-table__cell {
            height: var(--el-component-size);
            padding: initial;
        }

        .cell {
            line-height: initial;
            font-size: var(--el-font-size-base);
        }
    }
}