.ev-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--evc-menu-width);
  border-radius: var(--evc-layout-item-border-radius);

  h1 {
    margin: initial;

    a {
      display: flex;
    }
  }
}

.ev-menu {
  display: flex;
  flex-direction: column;
  row-gap: var(--evc-layout-gap);
  position: relative;

  border-radius: var(--evc-layout-item-border-radius);
  border: 1px solid var(--evc-layout-item-border-color);
  background-color: var(--evc-layout-item-background-color);
  background-image: var(--evc-layout-item-background-image);
  backdrop-filter: blur(var(--evc-layout-item-background-filter-blur));
  box-shadow: var(--evc-layout-item-shadow);

  .el-menu {
    border: initial;
    background-color: initial;

    .el-button {
      padding: initial;
    }
  }

  &-toggle {
    position: absolute;
    top: calc(var(--evc-header-height) / 4 * -1);
    right: calc(var(--evc-header-height) / 4 * -1);
    z-index: 9;
  }

  &-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 140px;
    overflow: hidden;
  }

  .el-menu--vertical {
    .el-menu-item-group__title {
      display: none;
    }
  }

  // horizontal menu
  .el-menu--horizontal {
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: initial;

    &>.el-menu-item {
      border: initial;
    }

    .el-menu-item {
      height: var(--el-menu-horizontal-height);
      line-height: var(--el-menu-horizontal-height);
    }

    .el-sub-menu__title {
      height: var(--el-menu-horizontal-height);
      line-height: var(--el-menu-horizontal-height);
    }
  }
}

//
.submenu-popper {
  &.el-popper {
    font-size: var(--evc-font-size-root);

    &.is-light {
      border: initial;
      background: transparent;
    }
  }

  .el-menu--horizontal {
    height: initial;
  }

  .el-menu--popup {
    padding: initial;
  }

  .el-menu-item-group__title {
    display: none;
  }
}