.ev-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--evc-header-height);
  column-gap: var(--evc-layout-padding);
  padding: initial;

  &-navigation {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    column-gap: var(--evc-layout-gap);
    padding: 0;
    margin: 0;

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: var(--el-component-size);
      height: var(--el-component-size);
      font-size: var(--evc-font-size-base);
      cursor: pointer;

      .el-button:has(.el-icon) {
        font-size: 18px;
      }
    }
  }

  .ev-breadcrumb {
    .el-breadcrumb {
      display: flex;
      justify-content: flex-end;
      gap: var(--evc-control-padding);
    }
  }

  &-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: var(--evc-header-height);
    border-radius: var(--evc-layout-item-border-radius);
    overflow: hidden;
  }

  .el-avatar {
    --el-avatar-size: 20px;
    --el-avatar-icon-size: var(--evc-font-size-root);

    & + span {
      margin-left: var(--evc-control-padding);
    }
  }
}
