.ev-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--evc-menu-width);
  border-radius: var(--evc-layout-item-border-radius);

  h1 {
    margin: initial;

    a {
      display: flex;
    }
  }
}

.ev-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--evc-header-height);
  column-gap: var(--evc-layout-gap);
  padding: initial;

  &-navigation {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    column-gap: var(--evc-layout-gap);
    padding: 0;
    margin: 0;
    list-style: none;
  
    &>li {
      display: flex;
      align-items: center;
    }
  }

  .ev-breadcrumb {
    .el-breadcrumb {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
  }

  &-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: var(--evc-header-height);
    border-radius: var(--evc-layout-item-border-radius);    
    overflow: hidden;
  }
}

.layout-group {
  display: flex;
  column-gap: 5px;

  .el-button {
    height: initial;
    padding: initial;

    span {
      display: inline-flex;
      width: var(--el-component-size);
      height: var(--el-component-size);
      background-color: var(--el-color-primary);

      .item {
        display: flex;
        border: 1px solid var(--el-color-white);
        background-color: var(--el-border-color-dark);

        &.item1 {
          flex: 1;
        }

        &.item2 {
          flex: 2;
        }
      }
    }

    &.horizontal {
      span {
        padding: initial;
        gap: initial;

        .item {
          height: 100%;
        }
      }
    }

    &.vertical {
      span {
        flex-direction: column;
        padding: initial;
        gap: initial;       

        .item {
          width: 100%;
        }
      }
    }
  }
}

//
.theme-group {
  .el-button {
    &.element {
      background-color: #409eff;
    }

    &.green {
      background-color: #5796ad;
    }

    &.yellow {
      background-color: #ffb800;
    }

    &.green_2 {
      background-color: #328a23;
    }

    &.purple {
      background-color: #9065db;
    }
  }
}