.ev-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--evc-header-height);
  column-gap: var(--evc-layout-gap);
  padding: initial;

  &-navigation {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    column-gap: var(--evc-layout-gap);
    padding: 0;
    margin: 0;

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: var(--el-component-size);
      height: var(--el-component-size);
      font-size: var(--el-font-size-large);
      font-weight: var(--el-font-weight-primary);
      cursor: pointer;

      .el-button:has(.el-icon) {
        font-size: var(--el-font-size-extra-large);
      }
    }
  }

  .ev-breadcrumb {
    .el-breadcrumb {
      display: flex;
      justify-content: flex-end;
      gap: var(--evc-control-padding);
    }
  }

  &-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: var(--evc-header-height);
    overflow: hidden;
  }

  .el-avatar {
    --el-avatar-size: var(--el-component-size);
    margin-right: 5px;
  }
}
