.ev-layout {
  &[data-layout='horizontal2'] {
    --qs-logo-width: 250px;
    --qs-header-height: 60px;
    --qs-tags-height: 60px;
    --qs-menu-height: calc(100vh - (var(--qs-header-height) + var(--qs-base-row-gap) * 2));
    --qs-main-height: calc(100vh - (var(--qs-header-height) + var(--qs-tags-height) + var(--qs-base-row-gap) * 2));

    column-gap: var(--qs-base-column-gap);
    row-gap: var(--qs-base-row-gap);

    .ev-logo,
    .ev-header,
    .ev-menu,
    .ev-tags,
    .ev-main {
      border: 1px solid red;
    }

    .ev-header,
    .ev-tags {
      margin-right: var(--qs-base-column-gap);
    }

    .ev-menu {
      grid-column: 1 / span 1;
      grid-row: 2 / span 2;
    }
  }
}