@import 'horizontal.scss';
@import 'horizontal2.scss';
@import 'vertical.scss';
@import 'vertical2.scss';

.ev-layout {
    display: grid;
    justify-content: stretch;
    align-content: stretch;
    width: 100vw;
    height: 100vh;    
    background-color: var(--el-color-primary-light-9);
    background-image: url(../img/pattern.png),
    radial-gradient(50% 50% at center top,
    var(--el-color-primary-light-5) 0%,
    var(--el-color-primary-light-9) 100%);
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto 20rem;
    transition: var(--el-transition-duration-fast);
    grid-auto-flow: dense;

    &[data-collapse='true'] {
        --qs-menu-width: 65px;

        .ev-menu__banner {
            display: none;
        }
    }

    &.is-main-expand {
        --qs-menu-width: 0px;
        --qs-header-height: 0px;
        --qs-tags-height: 0px;

        gap: initial;

        .ev-logo,
        .ev-menu,
        .ev-header {
            display: none;
        }
    }    
}