@import 'layoutHorizontal.scss';
@import 'layoutVertical.scss';
@import 'layoutSetting.scss';
@import 'header.scss';
@import 'aside.scss';
@import 'tags.scss';
@import 'main.scss';

.ev-layout {
    display: grid;
    justify-content: stretch;
    align-content: stretch;
    width: 100vw;
    height: 100vh;
    background-color: var(--el-color-primary-light-9);
    background-image: url(../img/pattern.png),
        radial-gradient(50% 50% at center top,
            var(--el-color-primary-light-5) 0%,
            var(--el-color-primary-light-9) 100%);
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto 20rem;
    transition: var(--el-transition-duration-fast);
    grid-auto-flow: dense;

    .ev-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--evc-menu-width);
        border-radius: var(--evc-layout-item-border-radius);

        h1 {
            margin: initial;

            a {
                display: flex;
            }
        }
    }

    &[data-collapse='true'] {
        --evc-menu-width: 65px;

        .ev-menu__banner {
            display: none;
        }
    }

    &.is-main-expand {
        --evc-menu-width: 0px;
        --evc-header-height: 0px;
        --evc-tags-height: 0px;

        gap: initial;

        .ev-logo,
        .ev-menu,
        .ev-header {
            display: none;
        }
    }
}