.ev-layout {
  &[data-layout='setting'] {
    --el-menu-horizontal-height: initial;
    --evc-menu-height: initial;
    --evc-main-height: calc(100vh - (var(--evc-header-height) + var(--evc-layout-padding) + calc(var(--evc-layout-gap) * 1)));

    grid-template-columns: var(--evc-menu-width) 1fr;
    grid-template-rows: var(--evc-header-height) 1fr;
    gap: var(--evc-layout-gap);
    padding: var(--evc-layout-padding);

    .ev-aside {
      display: none;
    }

    .ev-main {
      grid-column: 1 / span 2;
    }
  }
}