.ev-layout {
  &[data-layout='vertical'] {
    --evc-menu-height: var(--el-menu-horizontal-height);
    --evc-main-height: calc(100vh - (var(--evc-header-height) + var(--evc-menu-height) + var(--evc-tags-height) + var(--evc-layout-gap) * 3));

    grid-template-rows: var(--evc-header-height) var(--evc-menu-height) var(--evc-tags-height) 1fr;
    row-gap: var(--evc-layout-gap);

    .ev-aside {
      grid-column: 1 / span 2;

      .ev-menu {
        &-toggle {
          display: none;
        }

        &-banner {
          display: none;
        }
      }
    }

    .ev-tags {
      grid-column: 1 / span 2;
    }

    .ev-screen {
      grid-column: 1 / span 2;
    }
  }
}
