.ev-layout {
  &[data-layout='horizontal'] {
    --el-menu-horizontal-height: 44px;
    --evc-aside-height: calc(100vh - calc(var(--evc-header-height) + var(--evc-layout-padding)));
    --evc-main-height: calc(100vh - calc(var(--evc-header-height) + var(--evc-tags-height) + calc(var(--evc-layout-padding) * 2)));

    grid-template-rows: var(--evc-header-height) var(--evc-tags-height) var(--evc-main-height);
    padding-left: var(--evc-layout-padding);

    .ev-aside {
      grid-row: 2 / span 2;
      height: var(--evc-aside-height);

      display: flex;
      flex-direction: column;
      gap: var(--evc-layout-padding);

      .ev-menu {
        height: var(--evc-aside-height);
      }

      &:has(.ev-menu-banner) {
        --evc-aside-height: calc(100vh - calc(var(--evc-header-height) + var(--evc-layout-padding)));

        .ev-menu {
          height: calc(var(--evc-aside-height) - 140px);
        }
      }
    }

    .ev-tags-group {
      padding: 0 var(--evc-layout-padding);
    }

    .ev-main {
      margin: var(--evc-layout-padding);
    }
  }

  &[data-collapse='true'] {
    --evc-aside-width: 65px;
  }

  .layout-wrap & {
    grid-template-columns: var(--evc-aside-width) minmax(auto, calc(100vw - var(--evc-aside-width) - 350px - var(--evc-layout-padding) * 3));
  }
}