.ev-layout {
  &[data-layout='vertical'] {
    --evc-aside-height: var(--el-menu-horizontal-height);
    --evc-main-height: calc(100vh - (var(--evc-header-height) + var(--evc-aside-height) + var(--evc-tags-height) + var(--evc-layout-gap) * 2));

    grid-template-rows: var(--evc-header-height) var(--evc-aside-height) calc(var(--evc-tags-height) + var(--evc-layout-gap) * 2) auto;

    .ev-aside {
      grid-column: 1 / span 2;

      .ev-menu {
        &-toggle {
          display: none;
        }

        &-banner {
          display: none;
        }
      }
    }

    .ev-tags {
      grid-column: 1 / span 2;

      .ev-tags-group {
        margin: var(--evc-layout-gap) 0;
      }
    }

    .ev-main {
      grid-column: 1 / span 2;
    }
  }
}