.ev-tags {
  // border-radius: var(--evc-layout-item-border-radius);
  // border: 1px solid var(--evc-layout-item-border-color);
  // background-color: var(--evc-layout-item-background-color);
  // background-image: var(--evc-layout-item-background-image);
  // backdrop-filter: blur(var(--evc-layout-item-background-filter-blur));
  // box-shadow: var(--evc-layout-item-shadow);

  &-group {
    display: flex;
    align-items: flex-start;
    height: var(--evc-tags-height);
    gap: 0 var(--evc-control-padding);
    // padding: 0 var(--evc-layout-gap);

    .el-tag {
      --el-tag-bg-color: rgba(var(--evc-component-background-color));
      --el-tag-border-color: var(--evc-component-border-color);

      height: 30px;
      // border-radius: var(--evc-component-border-radius);
    }
  }
}
