.ev-tags {
  border-radius: var(--evc-layout-item-border-radius);
  border: 1px solid var(--evc-layout-item-border-color);
  background-color: rgba(var(--evc-layout-item-background-color));
  background-image: var(--evc-layout-item-background-image);
  backdrop-filter: blur(var(--evc-layout-item-background-filter-blur));
  box-shadow: var(--evc-layout-item-shadow);

  &-group {
    display: flex;
    align-items: center;
    height: var(--evc-tags-height);
    gap: 0 var(--evc-control-padding);
    padding: 0 var(--evc-layout-gap);
  }
}
