.ev-layout {
  &[data-layout='vertical2'] {
    --qs-layout-item-background-color: transparent;
    // --qs-layout-item-background-image: linear-gradient(140deg, rgba(255,255,255,0.4) 5%, #BC70A4 50%, rgba(255,255,255,0.4) 95%);
    --qs-layout-item-background-image: 
    linear-gradient(0deg, rgba(200,200,200,0.5) 70%, rgba(200,200,200,0)),
    linear-gradient(-90deg, rgba(200,200,200,0.5) 0%, rgba(255,0,0,0.5) 50%),
    linear-gradient(90deg, rgba(200,200,200,0.5) 0%, rgba(0,0,255,0.1) 50%),
    linear-gradient(180deg, rgba(200,200,200,0.5) 70%, rgba(200,200,200,0));
    --qs-layout-item-shadow: initial;
    --qs-layout-item-border-radius: initial;

    --qs-menu-height: 40px;
    --qs-tags-height: 40px;    
    --qs-main-height: calc(100vh - (var(--qs-header-height) + var(--qs-menu-height) + var(--qs-tags-height) + calc(var(--qs-layout-gap) * 5)));

    grid-template-columns: var(--qs-menu-width) 1fr;
    grid-template-rows: var(--qs-header-height) var(--qs-menu-height) var(--qs-tags-height) 1fr;
    row-gap: var(--qs-layout-gap);
    padding: var(--qs-layout-gap);

    .ev-menu {
      grid-column: 1 / span 2;

      &-toggle {
        display: none;
      }

      &__banner {
        display: none;
      }
    }

    .ev-tags {
      grid-column: 1 / span 2;
    }

    .ev-main {
      grid-column: 1 / span 2;
    }
  }
}
