.ev-layout {
  &[data-layout='vertical'] {
    --qs-menu-height: 40px;
    --qs-tags-height: 40px;    
    --qs-main-height: calc(100vh - (var(--qs-header-height) + var(--qs-menu-height) + var(--qs-tags-height) + calc(var(--qs-layout-gap) * 3)));

    grid-template-columns: var(--qs-menu-width) 1fr;
    grid-template-rows: var(--qs-header-height) var(--qs-menu-height) var(--qs-tags-height) 1fr;
    row-gap: var(--qs-layout-gap);

    .ev-menu {
      grid-column: 1 / span 2;

      &-toggle {
        display: none;
      }

      &__banner {
        display: none;
      }
    }

    .ev-tags {
      grid-column: 1 / span 2;
    }

    .ev-main {
      grid-column: 1 / span 2;
    }
  }
}
