.ev-layout {
  &[data-layout='vertical2'] {
    --qs-layout-item-background-color: rgba(255, 255, 255, 0.5);
    --qs-layout-item-background-image: none;
    --qs-layout-item-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

    --qs-menu-height: 40px;
    --qs-tags-height: 40px;
    --qs-main-height: calc(100vh - (var(--qs-header-height) + var(--qs-menu-height) + var(--qs-tags-height) + calc(var(--qs-layout-gap) * 5)));

    grid-template-columns: var(--qs-menu-width) 1fr;
    grid-template-rows: var(--qs-header-height) var(--qs-menu-height) var(--qs-tags-height) 1fr;
    row-gap: var(--qs-layout-gap);
    padding: var(--qs-layout-gap);

    .ev-menu {
      grid-column: 1 / span 2;

      backdrop-filter: blur(10px);
      border: 1px solid rgba(144, 101, 219, 0.1);

      &-toggle {
        display: none;
      }

      &__banner {
        display: none;
      }
    }

    .ev-tags {
      grid-column: 1 / span 2;
    }

    .ev-main {
      grid-column: 1 / span 2;
    }
  }
}