.ev-menu {
  display: flex;
  flex-direction: column;
  row-gap: var(--qs-layout-gap);
  position: relative;
  border-radius: var(--qs-layout-item-border-radius);
  background-color: var(--qs-layout-item-background-color);
  background-image: var(--qs-layout-item-background-image);
  box-shadow: var(--qs-layout-item-shadow);

  &-scroll {
    height: var(--qs-menu-height);
  }

  .el-menu {
    background-color: initial;

    &.el-menu--horizontal {
      --el-menu-horizontal-height: var(--qs-menu-height);

      justify-content: center;
      align-items: center;
      border-bottom: initial;

      &>.el-menu-item {
        height: initial;
      }

      .el-sub-menu {
        height: 100%;
      }
    }

    .el-menu-item {
      line-height: initial;
    }
  }

  &-toggle.el-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: calc(var(--qs-header-height) / 2.5 * -1);
    right: calc(var(--qs-header-height) / 3 * -1);
    z-index: 9;
  }

  &__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 140px;
    border-radius: var(--qs-layout-item-border-radius);
    overflow: hidden;
  }
}

// 
.el-popper.is-pure.is-light {
  background-color: transparent;

  &.subMain {
    right: 0 !important;
    bottom: 0 !important;
    overflow: auto;

    .el-menu--vertical.el-menu--popup-container {
      &.subMain {
        width: 200px;
      }
    }
  }
}