.ev-tags {
    border-radius: var(--qs-layout-item-border-radius);
    background-color: var(--qs-layout-item-background-color);
    background-image: var(--qs-layout-item-background-image);
    box-shadow: var(--qs-layout-item-shadow);

    // .el-scrollbar__view {
    //     height: 100%;
    // }

    &-group {
        display: flex;
        align-items: center;
        height: var(--qs-tags-height);
        gap: 0 10px;
        padding: 0 10px;
    }
}